<div class="tldr-read-container">

  <div class="tldr-tldr">
    <div class="tldr-header">
      <img class="tldr-favicon" src="http://www.google.com/s2/favicons?domain={{hostname}}">
      <span class="tldr-title">{{title}}</span>
      <span class="tldr-hostname">({{hostname}})</span>
    </div>

    <div class="tldr-metadata">
      {{#creator}}
      <span>
        tl;dr by
          <span><a href="{{websiteUrl}}/{{creator.username}}" target="_blank"><em>{{creator.username}}</em></a></span>
      </span>
      {{/creator}}
    </div>

    <div class="tldr-summary">
      <ul>
        {{#summaryBullets}}
        <li class="tldr-bullet">
          <i class="icon-stop"></i>
                {{.}}
        </li>
        {{/summaryBullets}}
      </ul>
    </div>
  </div>

  <div class="sharing-container">
    <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
      <i class="icon-share-alt"></i>
      Share
    </button>
  </div>

</div>

