@import 'bootstrap.css';

body {
  background-color: #e4e5e6;
}

#main-container {
  width: 610px;
  margin: 0 auto;

}

#tldr-container {
  background-color: #ececec;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
  padding: 20px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 0px;
}

h2 {
  color: #4D4D4D;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 32px;
  
}

#tldr-resource-data {
  color: #bababa;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-variant: normal;
  font-weight: lighter;
  line-height: 18px;
}

#tldr-title {
  padding-bottom: 15px;
}

.tldr-bullet {
  padding-left: 9px;
  color: #4D4D4D;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 32px;
  line-height: 18px;
  
}

ul {
  margin-top: 10px;
}

#tldr-edition-data {
  color: #bababa;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: 9px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 12px;

}

#resource-button {
  margin-top: 24px;
  display: block;
  height: 29px;
  width: 120px;
  position: absolute;
  left: 61%;
}

#widget-bookmarklet {
  margin-top: 16px;
}
