<section class="marketing">
  <h1>The Team</h1>
  <h2 class="marketing-byline">About Us</h2>

  <p>The team is composed of Louis Chatriot, Stanislas Marion and Charles Miglietti.
     For a long time, we had been feeling that the Web was getting harder and harder to navigate.
    Sharing the same passion for the Internet and entrepreneurship, we decided to do something about it and quit our day jobs at the same time to found tldr.io.
    We have already worked together, on an interactive ebook we made with the startup Captain Dash for the French Employers’ Association.
  </p>

  <br><br>


  <h2><a href="http://tldr.io/louis">Louis Chatriot</a></h2>
  <div class="row">
    <div class="span1">
      <p><img src="//www.gravatar.com/avatar/e47076995bbe79cfdf507d7bbddbe106" title="Louis Chatriot" alt="Louis Chatriot"></p>
    </div>

    <div class="span11">
      <p><strong>Cofounder</strong> Back-end, marketing and a bit of front-end</p>

      <p>
        As someone who can easily spend 2 hours a day reading blog articles and discussions, I felt that I was spending most of my time understanding whether I was really
        interested in what I was reading or not. I think the best way to do that is to be able to read a summary of any article, and I believe I'm far from the only one with that opinion.
        Having wanted to create a company since my days at Stanford University, it was only natural for me to cofound tldr.io!
      </p>

      <p>Before working on tldr.io, I worked about 2 years as a management consultant for Bain &amp; Company, and before that I spent 6 months as a software engineer at Robinsons Participations.</p>

      <p>Work aside, I enjoy squash (a lot), skiing (even more) and occasionally climbing. I'm also a pretty bad but very motivated Go player.
    </div>
  </div>


  <br><br><br>


  <h2><a href="http://tldr.io/stan">Stanislas Marion</a></h2>

  <div class="row">
    <div class="span1">
      <p><img src="//www.gravatar.com/avatar/087d06c94e96171dc78fe6121e0fb5ba?s=80" title="Stanislas Marion" alt="Stanislas Marion"></p>
    </div>

    <div class="span11">
      <p><strong>Cofounder</strong> A bit of back-end, a lot of front-end (someone has to do it) and marketing</p>
      <p>
        I believe the web is revolutionizing how the world works and I want to help make it more accessible to people. I think
        people are having a hard time navigating in the information overload we're enduring and I want to solve that problem.
        This is why I'm building tl;dr.
      </p>

      <p>
        Prior to starting tl;dr I worked for about 2 years at a <a href="http://yseop.com">Parisian startup</a>.
        I also played heads up poker online for a while and was quite successful.
        I graduated from Ecole Centrale Paris and have an MS in Management Science and Engineering from Stanford University.
      </p>
    </div>
  </div>

  <br><br><br>

  <h2><a href="https://tldr.io/Charles">Charles Miglietti</a></h2>

  <div class="row">
    <div class="span1">
      <p><img src="//www.gravatar.com/avatar/b4e6af335a720c62bba0e0d37b61be25" title="Charles Miglietti" alt="Charles Miglietti"></p>
    </div>

    <div class="span11">
      <p><strong>Cofounder</strong> I do a lot of Front-end, some backend and I animate tl;dr's users community.</p>
      I like it a lot when things are easy to understand, easy to get hold of and I always thank people who are good at explaining them.
      I'm so happy when grabbing the point is straightforward. I started <em> tl;dr </em> because I find that having access to a summary of anything
      I can read would really be useful. Even writing my own summaries helps me remembering what I read.
      Pooling the individual efforts to make the Internet a smarter place is what I like the most in <em>tl;dr</em>.
      If you want to go hiking on the week end or playing some squash I'm your man!
      </p>
    </div>
  </div>


</section>
