<section class="marketing">
  <h1>tl;dr of your impact on the world</h1>
  {{#past30Days.readCount}}
    <h2 class="marketing-byline"><p>Looks like the world owes you a one!</p></h2>
  {{/past30Days.readCount}}
  {{^past30Days.readCount}}
    {{#allTime.readCount}}
      <h2 class="marketing-byline"><p>You were so prolific once upon a time, what happened to you?</p></h2>
    {{/allTime.readCount}}
    {{^allTime.readCount}}
      <h2 class="marketing-byline"><p>Time to stop procrastinating and contribute a tl;dr!</p></h2>
    {{/allTime.readCount}}
  {{/past30Days.readCount}}
  <div class="tldr-base-unit" id="badass">
    <ul class="nav nav-pills">
      <li class="active"><a href="#past-30-days" data-toggle="pill">Past 30 days</a></li>
      <li><a href="#all-time" data-toggle="pill">All time</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="past-30-days">
        {{#past30Days}}
          {{>website/userStats}}
          {{#readCount}}
            {{>website/userChartBar}}
          {{/readCount}}
          {{^readCount}}
            <img src="https://i.chzbgr.com/maxW500/1468205312/h05CB4111/" alt="sad panda">
          {{/readCount}}
        {{/past30Days}}
      </div>
      <div class="tab-pane" id="all-time">
        {{#allTime}}
          {{>website/userStats}}
          {{#readCount}}
            {{>website/userChartBar}}
            {{>website/userChartLine}}
          {{/readCount}}
          {{^readCount}}
            <img src="https://i.chzbgr.com/maxW500/1468205312/h05CB4111/" alt="sad panda">
          {{/readCount}}
        {{/allTime}}
      </div>
    </div>
  </div>
</section>

<div id="all-the-user-data" style="display: none;" data-analytics="{{analytics}}"></div>
