<section class="marketing">
  <h1>API documentation</h1>

  <p>
    For now only the read-only part is open, enabling to get the latest tldrs or to search tldrs by url.
    What's here shouldn't change, but we may add new routes along the way. Still, keep in mind this is experimental
        so don't hesitate to drop us an email at <a href="mailto:hello@tldr.io">hello@tldr.io</a> if you have a question or
    if something doesn't work!
  </p>

  <h2>Url and authentication</h2>
  <p>
    All requests should be directed to <strong>https://api.tldr.io/v1</strong>.<br><br>
    All requests will contain two extra headers to authenticate them:
    <ul>
      <li><strong>api-client-name</strong>: the name of your application</li>
      <li><strong>api-client-key</strong>: your secret key</li>
    </ul>
    To request a developer account, drop us an email at <a href="mailto:hello@tldr.io">hello@tldr.io</a>, tell us what you want to use our
    API for and we'll create you an acccount.
  </p>

  <h2>/tldrs/latest/:number</h2>

</section>
