<section class="marketing">
  <h1>API documentation</h1>

  <p>
    For now only the read-only part is open, enabling you to get the latest tldrs or to search tldrs by url.
    What's here shouldn't change, but we may add new routes along the way. Still, keep in mind this is experimental
        so don't hesitate to drop us an email at <a href="mailto:hello@tldr.io">hello@tldr.io</a> if you have a question or
    if something doesn't work!
  </p>

  <h2>General information</h2>
{{#markdown}}
This is a JSON API whose base url is: `https://api.tldr.io`.  

All requests will contain two extra headers to authenticate them:

* `api-client-name`: the name of your application
* `api-client-key`: your secret key
{{/markdown}}

To request a developer account, <a href="mailto:hello@tldr.io">drop us an email</a>, tell us what you want to use our
API for and we'll create you an acccount. All unauthenticated requests will be answered with a 401 status code explaining you why the request
was refused.

  <hr class="soften">

  <h2>Routes</h2>
{{#markdown}}
**GET /tldrs/latest/_:number_**  
Get the `:number` latest tldrs. You can only get between 1 and 10 tldrs.  
{{/markdown}}
<br>
{{#markdown}}
**GET /tldrs/search?url=_:url_**  
Search the summary of the webpage whose url is `:url`. `:url` should be properly URL-encoded (for example in Javascript with `encodeURIComponent`).  

A 404 response means there is no tldr for this url.  
{{/markdown}}
<br>
{{#markdown}}
**POST /tldrs/searchBatch**  
Search the tldrs for a batch of urls, not just one as in the route above.  
The body of the request must be a JSON object of the form `{ batch: [url1, url2, ...] }`  
The response will be of the form `{ tldrs: [tldr1, tldr2, ...] }.`  

This route can only return up to 30 tldrs, if your batch contains more than 30 urls the response will be a 403 error.
{{/markdown}}

  <hr class="soften">

  <h2>Clients</h2>
  <p>
    This API is very simple but we still made a Javascript client for the browser. You can find it <a href="https://github.com/tldrio/">here</a>.
  </p>


</section>
