<div class="container main-container">
  {{#specificLanguage}}
  <div class="alert alert-language">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    We detected that you were in a non english country and tried to display tldrs in you native language. If you want to see much more tldrs in english click <a href="?lang=en">here</a>!
  </div>
  {{/specificLanguage}}
  <div class="row">
    <div class="span3 topics-list-column">
      <ul class="nav nav-list topics-list">
        {{#categories}}
        <li{{#active}} class="active"{{/active}}>
          <a href="/discover/{{name}}{{#specificLanguage}}?lang={{specificLanguage}}{{/specificLanguage}}">
            <i class="icon-chevron-right"></i>
            {{name}}
          </a>
        </li>
        {{/categories}}
      </ul>
    </div>
    <div class="span9 discover-feed-column">
      <div class="tab-content discover-feed-container">
        <div class="discover-feed-options">
          <span class="options">
            {{#mostread}}
            <a alt="Newest summaries" href="{{currentBaseUrl}}">Newest</a>
            /
            <span class="option-chosen">Most read</span>
            {{/mostread}}
            {{#newest}}
            <span class="option-chosen">Newest</span>
            /
            <a alt="Most read summaries" href="{{currentBaseUrl}}/mostread">Most read</a>
            {{/newest}}
          </span>
          <span class="options options-visual pull-right">
            <a class="option-expand" alt="Expand all summaries" href="#">Expand all</a>
            <a class="option-collapse" alt="Collapse all summaries" href="#" style="display:none;">Collapse all</a>
          </span>
        </div>
        <div class="tab-pane active">
          <ol class="media-list discover-tldr-list">
            {{#tldrs}}
              {{>website/discover.tldr.unit}}
            {{/tldrs}}
          </ol>
        </div>
        <div class="discover-load-more">
          <button class="btn btn-primary btn-load-more">
            <img src="/assets/img/happy-derp.small.png">
            Load more...
          </button>
        </div>
      </div>
    </div>
  </div>
