<div class="container main-container">
  <div class="discover-feed-column">
    <div class="tab-content discover-feed-container">
      <div class="discover-feed-options">
        <span class="options">
          <a alt="Newest summaries" href="{{currentBaseUrl}}" class="{{#newest}}option-chosen{{/newest}}">Newest</a>
          /
          <a alt="Most read summaries" href="{{currentBaseUrl}}/mostread" class="{{#mostread}}option-chosen{{/mostread}}">Most read</a>
        </span>
        <span class="options options-visual pull-right">
          <a class="option-expand" alt="Expand all summaries" href="#">Expand</a>
          /
          <a alt="Collapse all summaries" class="option-collapse option-chosen" href="#">Collapse</a>
        </span>
      </div>
      <div class="">
        <ol class="media-list discover-tldr-list">
          {{#tldrs}}
          {{>website/discover.tldr.unit}}
          {{/tldrs}}
        </ol>
      </div>
      <div class="discover-load-more">
        <button class="btn btn-primary btn-load-more">
          <img src="/assets/img/happy-derp.small.png">
          Load more...
        </button>
      </div>
    </div>
  </div>
