<header class="marketing">
<h1>Embedded summaries</h1>
<h2 class="marketing-byline">Embed summaries of any article in your webpages</h2>
</header>



<div class="centered-block list-box">
es hdhfds hsfdhsdfhsf hs
</div>
