<section class="marketing">
  <h1>Embed analytics since {{daysBack}} days back</h1>

{{#data}}
<div style="font-weight: bold; font-size: 16px;">{{hostname}} ({{readCount}})</div>
First read: {{firstRead}}<br>
Last read: {{lastRead}}<br>
Pages:
<ul>
{{#pagesData}}
  <li><a href="{{url}}">{{url}} ({{readCount}})</a></li>
{{/pagesData}}
</ul>

<br>
{{/data}}

</section>
