
<div id="landing-extension-wrapper">
  <section class="marketing">
    <h1>See Through Hyperlinks</h1>
    <p class="marketing-byline">With our Chrome extension, read summaries of Hacker News articles without leaving the front page</p>

    {{#chrome}}
    <img width="450" height="" class="graphic-helper" id="extension-gh1" src="/assets/img/extension.gh1.png">
    {{/chrome}}
    <img width="450" height="" class="graphic-helper" id="extension-gh2" src="/assets/img/extension.gh2.png">
    <div id="hacker-news-container">
      <center>
        <table  border="0" cellpadding="0" cellspacing="0" width="85%" id="hacker-news-main-table">
          <tbody>
            <tr>
              <td bgcolor="#ff6600">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                  <tbody>
                    <tr>
                      <td style="width:18px;padding-right:4px">
                        <span><img src="/assets/img/hn.y18.gif" width="18" height="18" style="border:1px #ffffff solid;"></span>
                      </td>
                      <td style="line-height:12pt; height:10px;">
                        <span class="pagetop"><b><span>Hacker News</span></b><img src="/assets/img/hn.s.gif" height="1" width="10"><span>new</span> | <span>threads</span> | <span>comments</span> | <span>ask</span> | <span>jobs</span> | <span>submit</span></span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr style="height:10px">
            </tr>
            <tr>
              <td>
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td align="right" valign="top" class="title">
                        1.
                      </td>
                      <td>
                        <center><span><img src="/assets/img/hn.grayarrow.gif" border="0" vspace="3" hspace="2"></span></center>
                      </td>
                      <td class="title">
                        <span>DHH has epiphany and raises VC to take on Groupon</span>
                        <span class="label tldr-label" data-powertip-id="tldr-powertip-1">
                          <a href="#">tl;dr</a>
                        </span>
                        <span class="comhead"> (groupcamp.com) </span>
                        <!-- begin powertip -->
                        <div id="tldr-powertip-1" style="display: none;">
                          <div class="tldr-read-container">
                            <div class="tldr-tldr">
                              <div class="tldr-header">
                                <img class="tldr-favicon tldr-favicon-ellipsis" src="http://www.google.com/s2/favicons?domain=">
                                <p class="tldr-title tldr-title-ellipsis">DHH has epiphany and raises VC to take on Groupon</p>
                              </div>
                              <div class="tldr-metadata">
                                <span>
                                  tl;dr by
                                  <span><a href="/overlyattachedgf" target="_blank"><em>overlyattachedgf</em></a></span>
                                </span>
                              </div>

                              <div class="tldr-summary">
                                <ul>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    DHH came out of the closet as a fundraiser, he is not the bootstrapper everybody thought he was.
                                  </li>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    He believes that the daily deal market is ripe for disruption and is gonna get some.
                                  </li>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    He is launching Groupcamp, with the help of the $500M he just raised. The money will be used to recruit more salespeople than Groupon can afford.
                                  </li>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    Groupcamp will use 37 Signals' very own Basecamp as the management tool of choice. That only should give them a huge advantage over their far too numerous competitors.
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end powertip -->
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                      </td>
                      <td class="subtext  ">
                        <span>111!!1 points</span> by <span>coolstorybro</span> 2 hours ago | <span>flag</span> | <span>127 comments</span>
                      </td>
                    </tr>
                    <tr style="height:5px">
                    </tr>
                    <tr>
                      <td align="right" valign="top" class="title">
                        2.
                      </td>
                      <td>
                        <center><span><img src="/assets/img/hn.grayarrow.gif" border="0" vspace="3" hspace="2"></span></center>
                      </td>
                      <td class="title">
                        <span>How to recruit javascript ninjas</span>
                        <span class="label tldr-label" data-powertip-id="tldr-powertip-2">
                          <a href="#">tl;dr</a>
                        </span>
                        <span class="comhead">(ninjatech.com)</span>
                        <!-- begin powertip -->
                        <div id="tldr-powertip-2" style="display: none;">
                          <div class="tldr-read-container">
                            <div class="tldr-tldr">
                              <div class="tldr-header">
                                <img class="tldr-favicon tldr-favicon-ellipsis" src="http://www.google.com/s2/favicons?domain=">
                                <p class="tldr-title tldr-title-ellipsis">How to recruit javascript ninjas</p>
                              </div>
                              <div class="tldr-metadata">
                                <span>
                                  tl;dr by
                                  <span><a href="/overlyattachedgf" target="_blank"><em>seriousbusiness</em></a></span>
                                </span>
                              </div>

                              <div class="tldr-summary">
                                <ul>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    Ask the candidate if he knows Coffeescript
                                  </li>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    Make him code a web app without jQuery
                                  </li>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    Ask him whether Javascript is just Java for the Web
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end powertip -->
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                      </td>
                      <td class="subtext  ">
                        <span>393 points</span> by <span>seriousbusiness</span> 6 hours ago | <span>flag</span> | <span>98 comments</span>
                      </td>
                    </tr>
                    <tr style="height:5px">
                    </tr>
                    <tr>
                      <td align="right" valign="top" class="title">
                        3.
                      </td>
                      <td>
                        <center><span><img src="/assets/img/hn.grayarrow.gif" border="0" vspace="3" hspace="2"></span></center>
                      </td>
                      <td class="title">
                        <span>Reasons why NodeJS is faster than Rails</span>
                        <span class="label tldr-label" data-powertip-id="tldr-powertip-3">
                          <a href="#">tl;dr</a>
                        </span>
                        <span class="comhead"> (ldo.com) </span>
                        <!-- begin powertip -->
                        <div id="tldr-powertip-3" style="display: none;">
                          <div class="tldr-read-container">
                            <div class="tldr-tldr">
                              <div class="tldr-header">
                                <img class="tldr-favicon tldr-favicon-ellipsis" src="http://www.google.com/s2/favicons?domain=">
                                <p class="tldr-title tldr-title-ellipsis">Two-year old explains why NodeJS is faster than Rails</p>
                              </div>
                              <div class="tldr-metadata">
                                <span>
                                  tl;dr by
                                  <span><a href="#" target="_blank"><em>pipedream</em></a></span>
                                </span>
                              </div>

                              <div class="tldr-summary">
                                <ul>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    Node is real-time yo!
                                  </li>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    Node has a really slick logo which make codes look faster.
                                  </li>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    Using the same language on the front-end and the back-end means you can finally use jQuery on the backend. Lifesaver...
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end powertip -->
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                      </td>
                      <td class="subtext  ">
                        <span >84 points</span> by <span>pipedream</span> 3 hours ago | <span>flag</span> | <span>35 comments</span>
                      </td>
                    </tr>
                    <tr style="height:5px">
                    </tr>
                    <tr>
                      <td align="right" valign="top" class="title">
                        4.
                      </td>
                      <td>
                        <center><span><img src="/assets/img/hn.grayarrow.gif" border="0" vspace="3" hspace="2"></span></center>
                      </td>
                      <td class="title">
                        <span>How I hacked Halloween and made 3x more candy than last year</span>
                        <span class="label tldr-label" data-powertip-id="tldr-powertip-4">
                          <a href="#">tl;dr</a>
                        </span>
                        <span class="comhead"> (juicyhacking.com) </span>
                        <!-- begin powertip -->
                        <div id="tldr-powertip-4" style="display: none;">
                          <div class="tldr-read-container">
                            <div class="tldr-tldr">
                              <div class="tldr-header">
                                <img class="tldr-favicon tldr-favicon-ellipsis" src="http://www.google.com/s2/favicons?domain=">
                                <p class="tldr-title tldr-title-ellipsis">How I hacked Halloween and made 3x more candy than last year</p>
                              </div>
                              <div class="tldr-metadata">
                                <span>
                                  tl;dr by
                                  <span><a href="#" target="_blank"><em>sluttypumpkin</em></a></span>
                                </span>
                              </div>

                              <div class="tldr-summary">
                                <ul>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    I crowdsourced an A/B test of different costumes to see which converted the best.
                                  </li>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    After waiting for 2 hours for the data to come in, I went to Walmart, bought the most succesful costume and went on a trick-or-treating rampage.
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end powertip -->
                      </td>
                    </tr>
                    <tr><td colspan="2"></td><td class="subtext buffer-inserted"><span >42 points</span> by <span>notgonnaendwell</span> 3 hours ago  | <span>flag</span> | <span>30 comments</span> </td></tr>
                    <tr style="height:5px">
                    </tr>
                    <tr>
                      <td align="right" valign="top" class="title">
                        5.
                      </td>
                      <td>
                        <center><span><img src="/assets/img/hn.grayarrow.gif" border="0" vspace="3" hspace="2"></span></center>
                      </td>
                      <td class="title">
                        <span>Show HN: My Life Project, Kickstarter for Dogs</span>
                        <span class="label tldr-label" data-powertip-id="tldr-powertip-5">
                          <a href="#">tl;dr</a>
                        </span>
                        <span class="comhead"> (notsureifserious.com) </span>
                        <!-- begin powertip -->
                        <div id="tldr-powertip-5" style="display: none;">
                          <div class="tldr-read-container">
                            <div class="tldr-tldr">
                              <div class="tldr-header">
                                <img class="tldr-favicon tldr-favicon-ellipsis" src="http://www.google.com/s2/favicons?domain=">
                                <p class="tldr-title tldr-title-ellipsis">Show HN: My Life Project, Kickstarter for Dogs</p>
                              </div>
                              <div class="tldr-metadata">
                                <span>
                                  tl;dr by
                                  <span><a href="#" target="_blank"><em>samwer</em></a></span>
                                </span>
                              </div>

                              <div class="tldr-summary">
                                <ul>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    I love dogs and I want them to be able to fund the projects they like. That's why I created Kickstarter for dogs.
                                  </li>
                                  <li class="tldr-bullet">
                                    <i class="icon-stop"></i>
                                    It's free for dogs but plans for dog owners start at $100/month. If you love your dog there's never been a better opportunity to prove it.
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end powertip -->
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                      </td>
                      <td class="subtext">
                        <span >114 points</span> by <span>lolwut</span> 1 hour ago | <span>flag</span> | <span>32 comments</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <img src="/assets/img/hn.s.gif" height="10" width="0">
                <table width="100%" cellspacing="0" cellpadding="1">
                  <tbody>
                    <tr>
                      <td bgcolor="#ff6600">
                      </td>
                    </tr>
                  </tbody>
                </table>



              </center>
            </td>
          </tr>
        </tbody>
      </table>
    </center>


  </div>
    {{#chrome}}
    <div id="install-browser-extension-wrapper">
      {{^loggedUser}}
      <button class="btn btn-primary btn-large pre-install-extension" data-target="signup">Sign up to install our Chrome Extension</button>
      <div id="login-install-browser-extension" class="pre-install-extension" data-target="login">or <a href="#">Log in</a></div>
      {{/loggedUser}}
      {{#loggedUser}}
      <button class="btn btn-success btn-large install-extension" >Install the damn extension!</button>
      {{/loggedUser}}
    </div>


    <div id="onboarding">
      <div id="onboarding-overlay">
        <div id="onboarding-wrapper">
          <div id="onboarding-content">
            <div class="row-fluid">
              <div class="span12">
                <div class="signup-container"></div>
                <div class="login-widget">
                  <div class="row">
                    <div class="span4 offset4 ">
                      <h1>Login</h1>
                      <span>
                        <div class="alert login-invalid-input" style="display: none;">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                          <small class='login-error-message'></small>
                        </div>
                        <form>
                          <fieldset>
                            <input type="text" class="login-status-email" placeholder="Email goes here" value="{{email}}" name="email"><br><br>
                            <input type="password" class="login-status-password" placeholder="Password" value="{{password}}" name="password"><br><br>
                            <button type="submit" class="btn btn-primary login-status-submit">Log in</button><br><br>
                            <a href="/forgotPassword" class="forgot-password-link"><small>Forgot your password?</small></a><br><br>
                          </fieldset>
                        </form>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="onboarding-close">
            <button id="onboarding-close-btn"></button>
          </div>
        </div>
      </div>
    </div>
    {{/chrome}}
    {{^chrome}}
    <div class="no-chrome" style="text-align:center;">
      <h3>Looks like you're not using Chrome!</h3> <p>We're sorry that we only have an extension for Chrome right now. Please give us your email address so that we can notify you once we have an extension ready for your browser.</p>
      <form>
        <div class="input-append">
        <input type="text" name="email" placeholder="No spam, we promise">
        <button type="button" id="subscribe-email" class="btn btn-primary">Keep me posted!</button>
      </div>
      </form>
    </div>
    {{/chrome}}




</section>

</div>
