
<div id="landing-extension-wrapper">
  <section class="marketing">
    <h1>This Is How We Conceive Hacker News</h1>
    <p class="marketing-byline">Go beyond the hyperlinks</p>

    <center>
      <table  border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
          <tr>
            <td bgcolor="#ff6600">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                <tbody>
                  <tr>
                    <td style="width:18px;padding-right:4px">
                      <a href="http://ycombinator.com"><img src="http://ycombinator.com/images/y18.gif" width="18" height="18" style="border:1px #ffffff solid;"></a>
                    </td>
                    <td style="line-height:12pt; height:10px;">
                      <span class="pagetop"><b><a href="#">Hacker News</a></b><img src="http://ycombinator.com/images/s.gif" height="1" width="10"><a href="#">new</a> | <a href="threads?id=Charlesmigli">threads</a> | <a href="#">comments</a> | <a href="#">ask</a> | <a href="#">jobs</a> | <a href="#">submit</a></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr style="height:10px">
          </tr>
          <tr>
            <td>
              <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td align="right" valign="top" class="title">
                      1.
                    </td>
                    <td>
                      <center><a id="up_4748951" onclick="return vote(this)" href="vote?for=4748951&amp;dir=up&amp;by=Charlesmigli&amp;auth=6dd402414551595792846d599e8443b0bcf214a9&amp;whence=%6e%65%77%73"><img src="http://ycombinator.com/images/grayarrow.gif" border="0" vspace="3" hspace="2"></a><span id="down_4748951"></span></center>
                    </td>
                    <td class="title">
                      <a href="http://www.chris-granger.com/2012/11/05/meet-the-new-light-table/">Meet the new Light Table</a><span class="comhead"> (chris-granger.com) </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    </td>
                    <td class="subtext">
                      <span id="score_4748951">114 points</span> by <a href="user?id=bergie">bergie</a> 1 hour ago | <a href="/r?fnid=idpYzTfgkT">flag</a> | <a href="item?id=4748951">32 comments</a> 
                    </td>
                  </tr>
                  <tr style="height:5px">
                  </tr>
                  <tr>
                    <td align="right" valign="top" class="title">
                      2.
                    </td>
                    <td>
                      <center><a id="up_4748624" onclick="return vote(this)" href="vote?for=4748624&amp;dir=up&amp;by=Charlesmigli&amp;auth=35417d12386e441b762be911f03e10693aaf81e1&amp;whence=%6e%65%77%73"><img src="http://ycombinator.com/images/grayarrow.gif" border="0" vspace="3" hspace="2"></a><span id="down_4748624"></span></center>
                    </td>
                    <td class="title">
                      <a href="http://jspauld.com/post/35126549635/how-i-made-500k-with-machine-learning-and-hft">How I made $500k with machine learning and high frequency trading</a><span class="comhead"> (jspauld.com) </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    </td>
                    <td class="subtext  ">
                      <span id="score_4748624">201 points</span> by <a href="user?id=jspaulding">jspaulding</a> 2 hours ago | <a href="/r?fnid=gRrQpONXpJ">flag</a> | <a href="item?id=4748624">127 comments</a> 
                    </td>
                  </tr>
                  <tr style="height:5px">
                  </tr>
                  <tr>
                    <td align="right" valign="top" class="title">
                      3.
                    </td>
                    <td>
                      <center><a id="up_4747910" onclick="return vote(this)" href="vote?for=4747910&amp;dir=up&amp;by=Charlesmigli&amp;auth=476829d3cee5cce274e69c58a61a6c5ba49ffbaf&amp;whence=%6e%65%77%73"><img src="http://ycombinator.com/images/grayarrow.gif" border="0" vspace="3" hspace="2"></a><span id="down_4747910"></span></center>
                    </td>
                    <td class="title">
                      <a href="http://blog.cloudflare.com/why-google-went-offline-today-and-a-bit-about">Why Google Went Offline Today and a Bit about How the Internet Works</a><span class="label tldr-label"><a href="http://blog.cloudflare.com/why-google-went-offline-today-and-a-bit-about">tl;dr</a></span><span class="comhead"> (cloudflare.com) </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    </td>
                    <td class="subtext  ">
                      <span id="score_4747910">393 points</span> by <a href="user?id=ColinWright">ColinWright</a> 6 hours ago | <a href="/r?fnid=mBfL9MwpxM">flag</a> | <a href="#">98 comments</a>
                    </td>
                  </tr>
                  <tr style="height:5px">
                  </tr>
                  <tr>
                    <td align="right" valign="top" class="title">
                      4.
                    </td>
                    <td>
                      <center><a id="up_4748474" onclick="return vote(this)" href="vote?for=4748474&amp;dir=up&amp;by=Charlesmigli&amp;auth=f7fe99d6ba42ef62af9ce2da5cd46a0702199426&amp;whence=%6e%65%77%73"><img src="http://ycombinator.com/images/grayarrow.gif" border="0" vspace="3" hspace="2"></a><span id="down_4748474"></span></center>
                    </td>
                    <td class="title">
                      <a href="http://www.haystacksoftware.com/blog/2012/11/arq-cloud-backup-for-mac-adds-support-for-amazon-glacier/">Arq (Mac backup) now works with Glacier</a><span class="comhead"> (haystacksoftware.com) </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    </td>
                    <td class="subtext  ">
                      <span id="score_4748474">84 points</span> by <a href="user?id=sreitshamer">sreitshamer</a> 3 hours ago | <a href="/r?fnid=NHGsBzMHkd">flag</a> | <a href="item?id=4748474">35 comments</a> 
                    </td>
                  </tr>
                  <tr style="height:5px">
                  </tr>
                  <tr>
                    <td align="right" valign="top" class="title">
                      5.
                    </td>
                    <td>
                      <center><a id="up_4748754" onclick="return vote(this)" href="#"><img src="http://ycombinator.com/images/grayarrow.gif" border="0" vspace="3" hspace="2"></a><span id="down_4748754"></span></center>
                    </td>
                    <td class="title">
                      <a href="http://nvidianews.nvidia.com/Releases/NVIDIA-Delivers-Massive-Performance-Boost-to-Linux-Gaming-8ac.aspx">Steam Linux Beta starts today, NVIDIA claims</a><span class="comhead"> (nvidia.com) </span>
                    </td>
                  </tr>
                  <tr><td colspan="2"></td><td class="subtext buffer-inserted"><span id="score_4748754">57 points</span> by <a href="user?id=pdknsk">pdknsk</a> 3 hours ago  | <a href="/r?fnid=cKvp8ZF7pK">flag</a> | <a href="item?id=4748754">30 comments</a> </td></tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <img src="http://ycombinator.com/images/s.gif" height="10" width="0">
              <table width="100%" cellspacing="0" cellpadding="1">
                <tbody>
                  <tr>
                    <td bgcolor="#ff6600">
                    </td>
                  </tr>
                </tbody>
              </table>



            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </center>


  <p>
    <div id="signup-install-browser-extension">
    {{^loggedUser}}
      <button class="btn btn-primary btn-large" data-toggle="collapse" data-target=".signup-container">Signup to get our Chrome Extension</button>
      <div id="login-install-browser-extension"><em>or <a  data-toggle="collapse" data-target=".login-widget">Log in</a></em></div>
    {{/loggedUser}}
    {{#loggedUser}}
      <button class="btn btn-success btn-large" >Install our awesome extension</button>
    {{/loggedUser}}
    </div>

    <div class="row">
      <div class="span6 offset3">
        <div class="signup-container collapse"></div>
      </div>
    </div>


    <div class="row">
      <div class="span4 offset4 ">

        <div class="collapse login-widget">
          <span >
            <div class="alert login-invalid-input" style="display: none;">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <small class='login-error-message'></small>
            </div>
            <form>
              <fieldset>
                <input type="text" class="login-status-email" placeholder="Email goes here" value="{{email}}" name="email"><br><br>
                <input type="password" class="login-status-password" placeholder="Password" value="{{password}}" name="password"><br><br>
                <button type="submit" class="btn btn-primary login-status-submit">Log in</button><br><br>
                <a href="/forgotPassword" class="forgot-password-link"><small>Forgot your password?</small></a><br><br>
              </fieldset>
            </form>
          </span>
        </div>
      </div>
    </div>

  </p>

</section>

</div>
