<section class="marketing">
  <h1>We Want To Make The Web More Meaningful</h1>
  <p class="marketing-byline">Benefit summaries written by people</p>
  <p>
    We want to build a <strong>summary layer</strong> for the web by providing <strong>one summary for every entry</strong>. This way we will make the web 
    <strong>more accessible and more meaningful</strong>.
  </p>

</section>

<hr class="soften">

<section class="marketing">
  <h1>Get The Most Immersive Reading Experience With Our Chrome Extension</h1>
  <p class="marketing-byline">Go beyond the hyperlinks</p>
   
  <div class="row">
    <div class="span4 offset2">
      <img style="width: 300px;" src="/assets/img/extension-screenshot-3.png" class="screenshot-extension img-polaroid">
      <p class="muted">Hyperlinks are one of the fundamentals of the Web...</p>
    </div>
    <div class="span4 offset1">
    <img style="height: 210px;" src="/assets/img/extension-screenshot-4.png" class="screenshot-extension img-polaroid">
      <p class="muted">But how often do you click on a link to explore the resource?</p>
    </div>
  </div>

  <div class="row">
    <div class="span4 offset4">
      <div class="test-extension img-polaroid">
        <ul>
          <li>
            Are there people on the team who are underperforming or a <a href="#">bad fit</a>?  How do you <a href="#">remove these people</a> from your team and when do you do it? 
          </li>
        </ul>
      </div>
        <p class="muted">
            With our Chrome Extension we bring the content behind the hyperlinks <strong>directly in every webpage</strong>.
        </p>
    </div>
    <img style="width: 250px;" src="/assets/img/extension-screenshot-5.png" class="screenshot-extension ">
  </div>
  <p>
    <div id="install-browser-extension">
      <button class="btn btn-primary btn-large">Signup to get our Chrome Extension</button>
      <div>
        <a href="#"<em >or skip this step</em></a>
      </div>
    </div>
  </p>

</section>

<hr class="soften">

<section class="marketing">
  <h1>Be Part Of a Squad That Will Tame The Web</h1>
  <p class="marketing-byline">And set your name in stone for the Web posterity</p>
  <p>
    For now <strong><a href="http://blog.eladgil.com">Elad Gil's Blog</a> is entirely tldrized</strong>, meaning there is a tl;dr accessible 
    for every entry of the blog. Get the tl;drs with our <a href="http://tldr.io/whatisit#install-bm-section">button</a> or with our 
    <a href="https://chrome.google.com/webstore/detail/tldr/ohmamcbkcmfalompaelgoepcnbnpiioe">extension</a>.
  </p>

  <p>
    There are many great blogs waiting to be tldrized starting with <a href="http://http://paulgraham.com/essays">Paul Graham's blog</a>, 
    <a href="http://cdixon.org">Chris Dixon</a>, <a href="http://avc.com">AVC</a> etc. <strong><a href="http://tldr.io/forum/showtopics">Join the next squad
    </a> that will tame the Web </strong>.
  </p>

</section>
