<form method="post" action="/forum/posts/{{post._id}}/edit">
  <textarea rows="5" cols="60" name="text" class="post-input" placeholder=" Say something!">{{post.text}}</textarea><br>
  <input type="submit" value="Express yourself" class="btn btn-primary">
</form>
