<h2>Topic list</h2>
{{#loggedUser}}
<a href="/forum/newTopic">Start a new topic</a><br><br>
{{/loggedUser}}
{{^loggedUser}}
<a href="/login?warning=false&returnUrl=/forum/newTopic">Login to start a new topic</a><br><br>
{{/loggedUser}}


{{#topics}}
<a href="/forum/topics/{{_id}}"><span class="topic-in-list">{{title}}</span></a><br>
<span class="post-topic-metadata">{{posts.length}} post{{#moreThanOnePost}}s{{/moreThanOnePost}}, last one {{lastPostTimeago}} by <a href="/{{lastPost.by.username}}" target="_blank">{{lastPost.by.username}}</a></span>
<br><br>
{{/topics}}
