<header class="marketing">
<h1>Forum</h1>
<h2 class="marketing-byline">Got an idea? Know an interesting blog that should be summarized? Say it here!</h2>
</header>

<div class="centered-block">
  {{#loggedUser}}
  <em><a href="/forum/newThread">Start a new thread</a></em><br><br>
  {{/loggedUser}}
  {{^loggedUser}}
  <em><a href="/login?warning=false&returnUrl=/forum/newThread">Login to start a new thread</a></em><br><br>
  {{/loggedUser}}


  <div id="thread-list" class="list-box">
    {{#threads}}
      <div>
        {{>website/voting}}
        <div class="right-of-voting">
          <a href="/forum/topics/{{_id}}/{{slug}}"><span class="topic-in-list">{{title}}</span></a><br>
          <span class="post-topic-metadata">{{posts.length}} post{{#moreThanOnePost}}s{{/moreThanOnePost}}, last one {{lastPostTimeago}} by {{#lastPost.by}} {{>website/usernameLink}} {{/lastPost.by}}</span>
        </div>
      </div>
      <br>
      <div class="thread-separator"></div>
    {{/threads}}
  </div>

</div>
