<div class="centered-block">
    <div id="title-and-vote">
      {{#thread}}{{>website/voting}}{{/thread}}
      <div class="right-of-voting">
        <h1 class="thread-title">{{thread.title}}</h1><br>
        <span class="post-thread-metadata">{{thread.posts.length}} post{{#thread.moreThanOnePost}}s{{/thread.moreThanOnePost}}</span>
      </div>
    </div>
    <br><br>

    <em><a href="/forum/threads/{{thread._id}}/{{thread.slug}}">Back to the thread</a></em>

    <br>

    <form method="post" action="/forum/posts/{{post._id}}/edit">
      <textarea rows="5" cols="60" name="text" class="post-input" placeholder=" Say something!">{{post.text}}</textarea><br>
      <input type="submit" value="Edit your post" class="btn btn-primary">
    </form>

    <br><br><br>
</div>
