<div style="width: 100%;">
  <div style="width: 260px; background-color: #f60; margin: 0 auto; color: #fff; text-align: center; padding: 12px; border-radius:6px; font-weight: bold; font-size:22px;">
    Login with Google succesful, this popup will close automatically.
  </div>
</div>


<script>
  window.opener.postMessage({ loggedInWithGoogle: true }, '*');
  setTimeout(function () { window.close(); }, 1500);
</script>
