B1;3400;0c<section class="masthead jumbotron">
  <h1>Tame the Web</h1>
  <p>Summaries of interesting content, written by people</p>
  {{>website/addToBrowser}}
</section>

<div class="vanity">
  <h3>
    Our fast growing community already saved more than <span class="number">{{totalTimeSaved}}</span> !
  </h3>
  <h5>
    That's about <span class="number">{{coffeeBreaksSaved}}</span> coffee breaks...
  </h5>
</div>

<div class="container marketing marketing-points">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4 marketing-point-illustration">
      <img  src="assets/img/face-kidding-me.png" alt="Too much to read?">
    </div>
    <div class="span4 marketing-point-illustration">
      <img  src="assets/img/rage-horror.png" alt="Too many tabs opened?">
    </div>
    <div class="span4 marketing-point-illustration">
      <img  src="assets/img/face-remember.png" alt="Remembering too little?">
    </div>
  </div>
  <div class="row">
    <div class="span4 marketing-point">
      <h2 class="marketing-point-title">Too much to read?</h2>
      <p>
        Learn more with less. Read only what matters, skim the rest.
      </p>
    </div>
    <div class="span4 marketing-point">
      <h2 class="marketing-point-title">Too many tabs opened?</h2>
      <p>
        Do yourself a favor and stop doing that. Read summaries without having to open new tabs.
      </p>
    </div>
    <div class="span4 marketing-point">
      <h2 class="marketing-point-title">Remembering too little?</h2>
      <p>
        Clarify your thoughts and build your knowledge by contributing summaries that millions of people will read.
      </p>
    </div>
  </div><!-- /.row -->
</div>

<hr class="soften">


<section class="marketing">
  <h1>Join the movement</h1>
  <div class="row users-quotes">
    <div class="span6">
      <blockquote class="quote-embed">
        <img class="quote-avatar" src="assets/img/antirez.png" width="75" height="75" alt="Salvatore Sanfilippo">
        <div class="quote-text">
          <p>tldr.io service is AWESOME</p>
          <small>Salvatore Sanfilippo · <a href="http://twitter.com/antirez" target="_blank">@Antirez</a></small>
        </div>
      </blockquote>
      <blockquote class="quote-embed ">
        <img class="quote-avatar" src="assets/img/EhLHHe-r_bigger.jpeg" alt="Doug Belshaw">
        <div class="quote-text">
          <p>I love tldr.io because it has obvious value proposition both for the creator and consumer</p>
          <small>Doug Belshaw · <a href="http://twitter.com/dajbelshaw" target="_blank" >@dajbelshaw</a></small>
        </div>
      </blockquote>
    </div>
    <div class="span6 right-col">
      <blockquote class="quote-embed">
        <img class="quote-avatar" src="http://gigaomabout.files.wordpress.com/2012/04/om_malik_bw1.jpg?w=144" alt="Om Malik">
        <div class="quote-text">
          <p>Damn, this is one useful service.</p>
          <small>Om Malik · <a href="http://twitter.com/om" target="_blank">@om</a></small>
        </div>
      </blockquote>
      <blockquote class="quote-embed">
        <img class="quote-avatar" src="assets/img/me_bigger.jpg" alt="Simon Lamber">
        <div class="quote-text">
          <p>exactly what @afternoon said. tldr.io is amazing. That is all.</p>
          <small>Simon Lambert · <a href="http://twitter.com/snow_gibbon" target="_blank"  >@snow_gibbon</a></small>
        </div>
      </blockquote>
    </div>
  </div>

  {{>installButton}}
</section>
