<section class="masthead jumbotron">
  <h1>Save time while surfing the Web</h1>
  <p>Summaries of the content you read, written by people</p>
  <span class="call-to-action">
    <p>
      <button type="button" class="btn btn-primary btn-large" id="launch-onboarding">Add tldr.io to Chrome</button>
    </p>
    <div id="gh-less-than-60s" class="graphic-helper"></div>
    <div id="gh-no-reg-required" class="graphic-helper"></div>
  </span>
</section>

<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4 marketing-point">
        <h2 class="marketing-point-title">Too much to read?</h2>
        <p>
          Select what you really values
          and save precious time.
          Read only what matters, skim the rest.
        </p>
      </div>
        <div class="span4 marketing-point">
        <h2 class="marketing-point-title">Too many tabs opened?</h2>
        <p>
          Kill them all! Just hover over hyperlinks and display a summary of the content.
        </p>
      </div>
        <div class="span4 marketing-point">
        <h2 class="marketing-point-title">Like to feel useful?</h2>
        <p>
          Contribute the summaries that millions of people will read. Be their timesavior.
        </p>
      </div>
      </div><!-- /.row -->
    </div>


<section>
  <div class="row">
    <div class="offset4 span2 social-fb-like">
      <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftldr.io&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px; display: block;" allowTransparency="true"></iframe>
    </div>
    <div class="social-twttr-tweet span2">
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html" style="width:130px; height:20px; display: block;"></iframe>
    </div>
    <div class="social-twttr-follow span2">
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=tldrio" style="width:300px; height:20px; display: block;"></iframe>
    </div>
  </div>
</section>

<div id="onboarding"></div>
