<section class="masthead jumbotron">
  <h1>Tame the Web</h1>
  <p>Summaries of interesting content, written by people</p>
  {{>installButton}}
</section>

<div class="vanity">
  <h3>
    Our fast growing community already saved more than <span class="number">{{totalTimeSaved}}</span> !
  </h3>
  <h5>
    That's about <span class="number">{{coffeeBreaksSaved}}</span> coffee breaks...
  </h5>
</div>

<div class="container marketing marketing-points">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4 marketing-point-illustration">
          <img  src="assets/img/face-kidding-me.png" alt="Too much to read?">
        </div>
        <div class="span4 marketing-point-illustration">
          <img  src="assets/img/rage-horror.png" alt="Too many tabs opened?">
        </div>
        <div class="span4 marketing-point-illustration">
          <img  src="assets/img/face-remember.png" alt="Remembering too little?">
        </div>
      </div>
      <div class="row">
        <div class="span4 marketing-point">
        <h2 class="marketing-point-title">Too much to read?</h2>
        <p>
          Learn more with less. Read only what matters, skim the rest.
        </p>
      </div>
        <div class="span4 marketing-point">
        <h2 class="marketing-point-title">Too many tabs opened?</h2>
        <p>
          Do yourself a favor and stop doing that. Read summaries without having to open new tabs.
        </p>
      </div>
        <div class="span4 marketing-point">
        <h2 class="marketing-point-title">Remembering too little?</h2>
        <p>
          Clarify your thoughts and build your knowledge by contributing summaries that millions of people will read.
        </p>
      </div>
      </div><!-- /.row -->
    </div>

