<div class="row">
  <div class="tldr-base-unit page-tldr-container">
    <header class="marketing">
      <h1>This tldr doesn't exist!</h1>
      <h2 class="marketing-byline">But don't worry, you can save the world</h2>
    </header>

    <div class="how-to-summarize">
      Step 1: <a href="/browser-extension" target="_blank">Learn how to use and download our extension</a><br><br><br>
      Step 2: <a href="{{articleUrl}}" target="_blank">Go back to the article and summarize it!</a>
    </div>

  </div>
</div>
