<!--Impressing title-->
<header class="jumbotron">
  <h1>Notifications</h1>
</header>

<ul id="notifications-collection">

{{#notifications}}
<div>
notif: user {{from}} did {{type}} on {{tldr}}
</div>
{{/notifications}}

</ul>








