<!--Impressing title-->
<header class="jumbotron">
  <h1>Notifications</h1>
</header>

<section id="notifications-container">


  <input type="button" class="btn btn-small" id="mark-all-notifications-read" value="Mark all as read">

  <ul id="notifications-collection">

    {{#notifications}}
    <li class="notification-list-el {{#unseen}}unseen-notification{{/unseen}}" data-id="{{_id}}">


      <div class="notification-text">
        {{prefix}} <strong><a href="{{websiteUrl}}/tldrs/{{tldr._id}}">tl;dr</a></strong> of 
        <strong><a href="{{tldr.url}}">{{tldr.title}}</a></strong>. 
      </div>

      {{#unseen}} <i class="icon-ok-sign mark-notification-read"></i> {{/unseen}}


      <div class="notification-date"> {{displayDate}} </div>

    </li>

    <div class="notification-separator"> </div>
    {{/notifications}}
    {{^notifications}}
    <li class="notification-list-wrapper">

      <div class="notification-list-el unseen-notif" >

        You don't have any notification yet. <strong>Contribute</strong> some tl;drs to <strong>get notified</strong> when somebody reads one.
        <i class="icon-ok-sign mark-notification-read"></i>
      </div>
    </li>

    {{/notifications}}

  </ul>

</section>
