Scratchpad

<div id="test">

</div>


<script>

function createIframe() {
  var iframe = document.createElement('iframe');
  iframe.style.display = 'none';

  document.getElementById('test').appendChild(iframe);

  return iframe;
}

var iframe = createIframe()
  , content = 'caca<br><br><a href="/third-party-auth/google?returnUrl=http://localhost:8888/about">Click me bitch</a>'
  ;

iframe.contentWindow.document
      .write(content);

iframe.style.display = 'block';

</script>
