Scratchpad


Salut <i style="background-image: url(http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png);background-position: -312px -72px;background-repeat: no-repeat;width:14px;height:14px;display:inline-block;"></i> Du caca


<br>
<br>
<br>

          <ul>
            <li class="tldr-bullet">
              <i style="background-image: url(http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png);background-position: -312px -72px;background-repeat: no-repeat;width:14px;height:14px;display:inline-block;"></i> Du caca
            </li>
            <li class="tldr-bullet">
              <i style="background-image: url(http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png);background-position: -312px -72px;background-repeat: no-repeat;width:14px;height:14px;display:inline-block;position: relative; top:2px;"></i> Du caca
            </li>
            <li class="tldr-bullet">
              ◼ Du caca
            </li>
            <li class="tldr-bullet">
              ◼ Du caca
            </li>
          </ul>

