<section class="marketing">
  <h1>Where do I find tl;drs?</h1>
  <p class="marketing-byline">They're usually 1 click away</p>
  <p>
    Every day our awesome users and ourselves write <strong>tl;drs of content worth remembering</strong>.
    To read them:
  </p>
  <ul>
    <li>
      Use <a href="whatisit#install-bm-section">our button</a> on startup and entrepreneurship blogs such as <a href="http://avc.com" target="_blank">AVC</a>
      or <a href="http://bothsidesofthetable.com" target="_blank">Both Sides of the Table</a>.
      We love them and want them to be more accessible to everyone, which is why we have been summarizing a decent amount of their most recent articles.
    </li>
    <li>
      Follow our Twitter account (we only tweet a few tl;drs per day, no bullshit):
      <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=tldrio" style="width:200px; height:20px; vertical-align:text-bottom; margin-left:20px;"></iframe>
    </li>
    <li>
      Become a fan of our Facebook page (we only share tl;drs):
      <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Ftoolongsodidntread&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:21px; vertical-align:text-bottom; margin-left:20px;" allowTransparency="true"></iframe>
    </li>
    <li>
      If you're old school like us and prefer straight email, just wait for our weekly newsletter (we won't spam you obviously)!
    </li>
  </ul>

  <p>
    Don't forget to <strong>share the tl;drs you like</strong> to broadcast your interests to your network in a palatable fashion!.
  </p>
</section>

<hr class="soften">

<section class="marketing">
  <h1>You can be a hero</h1>
  <p class="marketing-byline">And you won't need superpowers</p>
  <p>
    Help people <strong>get access to the content you find most interesting</strong> on the web: <strong>contribute tl;drs</strong>.
    The web will be a friendlier place with a lot of tl;drs!
  </p>
</section>
