<section class="marketing">
  <h1>Latest tl;drs</h1>
  <p class="marketing-byline">Hover over the <em>tl;dr</em> badges to make the summaries appear!</p>
  <div class="latest-tldrs-created">
    <div class="well-white">
      <ul class="unstyled">
        {{#latestTldrs}}
        <li>
          <img class="tldr-favicon tldr-favicon-ellipsis" src="http://www.google.com/s2/favicons?domain={{hostname}}">
          <p class="tldr-title-ellipsis">
            <a href="{{url}}" target="_blank">{{title}}</a>
          </p>
          <span class="tldr-hostname tldr-hostname-list">({{hostname}})
            <span>
              <span class="label tldr-label" data-powertip-id="tldr-powertip-{{_id}}">
                <a href="{{url}}">tl;dr</a>
              </span>
              by
              <span>
                <a href="/{{creator.username}}" target="_blank">
                  <em>{{creator.username}}</em>
                </a>
              </span>
            </span>
          </span>
          <!-- begin powertip -->
          <div id="tldr-powertip-{{_id}}" style="display: none;">
            <div class="tldr-read-container">
              <div class="tldr-tldr">
                <div class="tldr-header">
                  <img class="tldr-favicon tldr-favicon-ellipsis" src="http://www.google.com/s2/favicons?domain={{hostname}}">
                  <p class="tldr-title tldr-title-ellipsis">{{title}}</p>
                </div>
                <div class="tldr-metadata">
                  {{#creator}}
                  <span>
                    tl;dr by
                    <span><a href="/{{creator.username}}" target="_blank"><em>{{creator.username}}</em></a></span>
                  </span>
                  {{/creator}}
                </div>

                <div class="tldr-summary">
                  <ul>
                    {{#summaryBullets}}
                    <li class="tldr-bullet">
                      <i class="icon-stop"></i>
                      {{.}}
                    </li>
                    {{/summaryBullets}}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end powertip -->
        </li>
        {{/latestTldrs}}
      </ul>
    </div>
  </div>
</section>
<section class="marketing marketing-tip">
  <p>Follow our Twitter account to get the newest tl;drs directly on Twitter (we only tweet a few tl;drs per day, no bullshit):</p>
  <iframe allowtransparency="true" frameborder="0" scrolling="no" src="//platform.twitter.com/widgets/follow_button.html?screen_name=tldrio" style="width:200px; height:20px; vertical-align:text-bottom; margin-left:20px;"></iframe>
</section>
