<div class="row">
  <div class="well-white page-tldr-container">
    {{>website/tldr.read.page}}
  </div>
</div>
<div class="page-help">
  <div class="row">
    <div class="">
      <span class="help-inline">This is a summarized version.</span>
      <a href="{{url}}" target="_blank" id="read-full-article" class="btn btn-primary">Read full article</a>
    </div>
  </div>
  <div class="">
    <div class="">
      <a id="cta-to-tldr" href="http://tldr.io/whatisit" target="_blank"><small>Where does this summary come from?</small></a>
    </div>
  </div>
</div>

<script src="/page/src/page.js"></script>
