{{#tldrNotFound}}
<div class="alert alert-error">
  Sorry but this tl;dr doesn't exist!
</div>
{{/tldrNotFound}}


{{^tldrNotFound}}
<div class="row">
  <div class="tldr-base-unit page-tldr-container">
    {{>website/tldr.read.page}}
  </div>
</div>
<div class="page-help">
  <div class="row">
    <div class="">
      <span class="help-inline">This is a summarized version.</span>
      <a id="cta-to-tldr" href="http://tldr.io/whatisit" target="_blank"><small>Where does this summary come from?</small></a>
      {{#admin}}<br><a href="{{dbguiUrl}}/tldrs/{{_id}}/edit"><i class="icon icon-edit"></i>admin in db</a>{{/admin}}
    </div>
  </div>
</div>
{{/tldrNotFound}}
