<section class="marketing">
  <h1>Latest Summaries From All Around The World</h1>
  <p class="marketing-byline">Get to the point faster, Read more, Remember better</p>
  <img width="450" height="" class="graphic-helper" id="graphic-helper-badge" src="/assets/img/extension.gh2.png" alt="Hover over these little badges!">
  <div class="tldr-base-unit">
    <div class="latest-tldrs-created">
      <ul class="unstyled">
        {{#latestTldrs}}
        <li>
          <div class="tldr-icon">
          </div>
          <div class="tldr-title-wrapper">
            <p class="tldr-title-ellipsis">
              <a href="{{url}}" target="_blank">{{title}}</a>
            </p>
            {{>website/tldrBadge}}
            {{>website/powertip}}
            <span class="tldr-hostname tldr-hostname-list">
              ({{hostname}})
            </span>
          </div>
          <div class="tldr-metadata-tldrs">
            <span class="tldr-creator">
              contributed by
              <a href="/{{creator.username}}" target="_blank">
                <em>{{creator.username}}</em>
              </a>
            </span>
            <span class="tldr-readcount">
              &middot; read {{readCount}} times
            </span>
          </div>
        </li>
        {{/latestTldrs}}
      </ul>
    </div>
  </div>
</section>
<section class="marketing marketing-tip">
  <h3>Get the most popular summaries in your Twitter feed</h3>
<a href="https://twitter.com/tldrio" class="twitter-follow-button"  data-lang="en" data-size="large" >Follow @tldrio</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>


<hr class="soften">
<section class="marketing">
  <h1>You can be a hero too!</h1>
  <p class="marketing-byline">Always feels good if you ask me</p>
  <p>
    <a href="/whatisit#install-bm-section" class="btn btn-primary btn-large centered-button"> Contribute summaries</a>
  </p>
</section>

