<section class="marketing">
  <h1>Twitter analytics since {{daysBack}} days back</h1>

  <strong>Recap</strong>
  <ul>
    <li>Small: {{small}}</li>
    <li>Big: {{big}}</li>
  </ul>

  <br>

  <strong>Details</strong>
  <ul>
    {{#tas}}
      <li><a href="">{{representativeUrl}}</a> ({{requestedCount}})</li>
    {{/tas}}
  </ul>

</section>
