<section class="marketing">
  <h1>We're sorry if we bothered you</h1>
  <p>
    You are now unsubscribed and won't receive this report anymore. 
    If you change your mind you can still turn the email on again on your <a href="{{websiteUrl}}/account">account</a>.
  </p>
</section>


