{{#userNotFound}}
<div class="alert alert-error">
  This user doesn't exist!
</div>
{{/userNotFound}}


{{^userNotFound}}

<div class="row-fluid">
<div class="span8 offset2 well-white">

  <!-- Username, reputation, basic info and avatar -->
  <div class="row-fluid">
    <div class="span6">
    <h1>{{user.username}} ({{user.tldrsCreated.length}})</h1><br>
    Joined on {{user.createdAtReadable}}
    </div>

    <div class="offset3 span3">
      <img src="{{user.gravatarUrl}}&s=400" class="img-polaroid" alt="avatar">
    </div>
  </div>


  <!-- Latest created tldrs if any -->
  <hr>
  {{#user.createdMoreThanOneTldr}}
    <strong>Latest tldrs created by {{user.username}}:</strong>
    <ul>
    {{#tldrsCreatedToDisplay}}
      <li> <a href="/tldrs/{{_id}}" target="_blank">{{title}}</a>
      </li>
    {{/tldrsCreatedToDisplay}}
    </ul>
  {{/user.createdMoreThanOneTldr}}


</div>
</div>

{{/userNotFound}}
