<section class="marketing">
  <h1>Why use <em>tl;dr</em>?</h1>
  <p class="marketing-byline">Want to know more? Read on!</p>
  <div class="row">
    <div class="span6">
      <h2>Get the gist of any webpage</h2>
      <p>
        With the summaries found on <em>tl;dr</em>, you can easily select what you really want to
        read and save precious time.
        Read only what matters, skim the rest.
      </p>
    </div>

    <div class="span6">
      <h2>One page, one summary</h2>
      <p>
        Any webpage can get its own <em>tl;dr</em>, and every one will see the same summary.
        You don't need to do all the work yourself anymore.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2>Share more efficiently</h2>
      <p>
        The problem when you share links is that it's hard for people to know whether
        these links are worh reading or not.
        By including a summary, people will get a better idea of what you are sharing with them.
      </p>
    </div>

    <div class="span6">
      <h2>Contribute your summaries</h2>
      <p>
        If helping people save time and find the best content
        on the web sounds like a worthy goal to you, join in on the fun!
      </p>
    </div>
  </div>
</section>

<hr class="soften">

<section class="marketing">
  <h1>What is a <em>tl;dr</em>?</h1>
  <p class="marketing-byline">Intrigued aren't you?</p>
  <div class="row">
    <div class="span5 offset1">
      <img style="width: 400px; height: 267px;" src="/assets/img/sampleTldr.png" class="img-polaroid">
    </div>
    <div class="span5">
      <p>
        <strong><em>tl;dr</em> stands for <em>too long; didn't read</em></strong>. This acronym has been used in web conversations for years
        by people to mean that they can't be bothered to read something that's obviously very long, or more constructively to
        introduce a summary of a long piece of text. 
      </p>
      <p>
        On this website, <strong>a <em>tl;dr</em> consists of a summary of a webpage</strong>, complete
        with other metadata such as title, author, date, creator of the <em>tl;dr</em>, etc.
      </p>
    </div>
  </div>
</section>

<hr class="soften">

<section id="install-bm-section" class="marketing">
  <h1>How Does It Work?</h1>
  <p  class="marketing-byline">It's super easy!</p>
  <p>
    <strong>With the <em>tl;dr</em> button you can display a human-written <em>tl;dr</em> of any webpage</strong>. Say you're currently on a long blog post that had an
    interesting title but you're not sure it is actually worth reading. Just click our button, and if the summary has been
    created already it will appear in the same window for you to read. You can thus easily get a better idea of what this blogpost
    is about. If the <em>tl;dr</em> hasn't been created yet, create it! This will solidify your reading and benefit many
    other readers. <strong>Installing the <em>tl;dr</em> button is easy:</strong>
  </p>

  <div class="install-bm-container"></div>
</section>

<hr class="soften">

<section class="marketing">
  <h1>Installed The Button Already? Try It Now!</h1>
  <p class="marketing-byline">Follow one of these links and click</p>
  <p><a target="_blank" href="http://uxmag.com/articles/the-six-greatest-breakthroughs-in-ux-history">The six greatest breakthroughs in UX history</a></p>
  <p><a target="_blank" href="http://www.elezea.com/2012/09/curiosity/">Curiosity doesn't kill</a></p>
  <p><a target="_blank" href="http://www.avc.com/a_vc/2012/09/does-open-conflict-with-making-money.html">Does 'open' conflict with making money?</a></p>
</section>

<hr class="soften">

<section class="marketing">
  <h1>We're Actively Developing <em>tl;dr</em></h1>
  <p class="marketing-byline">Expect to see new features and enhancements regularly!</p>
  <p>
    If you have any idea you'd like too see implemented, we want to hear it! You can
    <a href="/forum/topics" target="_blank">post in our forum</a>, <a href="mailto:hello@tldr.io">email us</a> and
    talk to us on <a href="http://twitter.com/tldrio" target="_blank">Twitter</a> or
    <a href="http://www.facebook.com/toolongsodidntread/" target="_blank">Facebook</a>.
    Of course, this also means there will be bugs here and there. Kindly reporting them would help us a lot as well.
  </p>
</section>

<hr class="soften">

<section class="marketing">
  <h1>How Are We Different?</h1>
  <p class="marketing-byline">Our summaries are written by people who like what they read</p>
  <p>
    Summarizing any web page algorithmically while maintaining a "man-made" quality is a problem so hard that it hasn't been solved yet, and probably won't be for the near future.
    That's why we decided to go a different route and engage the people that are excited about the content they consume on the web
    to make it possible to have one summary available for any webpage.
  </p>
</section>

