<div>
    <h2>
      <a href="{{url}}" target="_blank" id="tldr-resource-link">{{title}}</a> 
    </h2>
  </div>
<div>
    <ul>
      {{#summaryBullets}}
      <li>{{.}}</li>
      {{/summaryBullets}}
    </ul>
</div>
<div >
    <p>Author: {{resourceAuthor}}</p>
    <p>Date: {{resourceDate}}</p>
</div>


