<meta property="og:title" content="{{title}}">
<meta property="og:type" content="author">
<meta property="og:url" content="http://tldr.io/{{user.username}}">
<meta property="og:image" content="{{user.gravatar.url}}&s=210">
<meta property="og:site_name" content="tldr.io">
<meta property="og:description" content="{{user.bio}}">
<meta property="fb:app_id" content="250458838406360">
