<meta property="og:title" content="tl;dr">
<meta property="og:type" content="website">
<meta property="og:url" content="http://tldr.io">
<meta property="og:image" content="http://tldr.io/assets/img/fbicon.png">
<meta property="og:site_name" content="tldr.io">
<meta property="og:description" content="The Web, Summarized by People">
<meta property="fb:app_id" content="250458838406360">
