
  <div class="call-to-action">
    <button type="button" class="btn btn-primary btn-large" class="add-to-chrome">Add tldr.io to Chrome</button>
    <p class="detail-extension">
      Free add-on for Chrome. No registration required!
    </p>
  </div>
