<div class="call-to-action">
  <a href="https://addons.mozilla.org/firefox/downloads/latest/427704/addon-427704-latest.xpi" class="btn btn-primary btn-large add-to-firefox">
  <img class="browser-icon" src="assets/img/firefox-icon.png" width="40px">
    Add tldr.io to Firefox</a>
  <p class="detail-extension">
    Free add-on for Firefox. No registration required!
  </p>
</div>
