<div class="call-to-action">
  <a href="http://localhost:8888/firefox/xpi/tldrio.xpi" class="btn btn-primary btn-large add-to-firefox">Add tldr.io to Firefox</a>
  <p class="detail-extension">
    Free add-on for Firefox. No registration required!
  </p>
</div>
