  <div class="call-to-action">
    <button type="button" class="btn btn-primary btn-large add-to-chrome">
      <img class="browser-icon" src="assets/img/chrome-icon.png" width="40px">
      Add tldr.io to Chrome
    </button>
    <p class="detail-extension">
      Free add-on for Chrome. No registration required!
    </p>
  </div>
