
  <div class="call-to-action">
    <button type="button" class="btn btn-primary btn-large" id="install-extension">Add tldr.io to Chrome</button>
    <p class="detail-extension">
      Free add-on for Chrome.
    </p>
    <div id="gh-less-than-60s" class="graphic-helper"></div>
    <div id="gh-no-reg-required" class="graphic-helper"></div>
  </div>
