<!-- Include this template in a page and it user will directly see the part of the page underneath -->
<div id="come-here-please"></div>
<script>window.location = window.location + '#come-here-please'</script>
