<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="about">About</a></li>
      <li><a href="mailto:help@tldr.io">Contact us</a></li>
      <li><a href="http://needforair.com">Blog</a></li>
      <li><a href="http://meta.tldr.io" target="_blank" >Q&amp;A</a></li>
    </ul>
    <p>Made with love in Paris.</p>
    <p><a href="https://mixpanel.com/f/partner"><img src="https://cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a><p>
  </div>
</footer>
