<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="/about">About</a></li>
      <li><a href="/api-documentation">API</a></li>
      <li><a href="http://feeds.feedburner.com/TldrioLatestSummaries" target="_blank">RSS Feed</a></li>
      <li><a href="http://needforair.com" target="_blank">Blog</a></li>
      <li><a href="mailto:hello@tldr.io">Contact us</a></li>
    </ul>
    <p>Made with love.</p>
    <p><a href="https://mixpanel.com/f/partner"><img src="https://cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a><p>
  </div>
</footer>
