<div id="ie-warning" class="container">
  <div class="row">
    <div class="span12">
      <div class="alert alert-block alert-error">
        <button class="close" data-dismiss="alert">×</button>
        <h2>Oh no! Turns out Internet Explorer is not the right browser for this website :-(</h2>
        <p>
          We detected that you are using Internet Explorer to browse this site.
          As most of the functionality will not be available with Internet Explorer, we recommend
          you use <a href="http://www.google.com/chrome">Google Chrome</a> or
          <a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> instead.
        </p>
      </div>
    </div>
  </div>
</div>
