<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="./">tl;dr</a>

      <ul class="nav">
        <li{{#index}} class="active"{{/index}}><a href="./">Home</a></li>
        <li{{#summaries}} class="active"{{/summaries}}><a href="summaries">I want some tl;drs!</a></li>
        <li{{#whatisit}} class="active"{{/whatisit}}><a href="whatisit">What is this?</a></li>
      </ul>


      <ul class="nav pull-right" id="{{css.loginStatusId}}"></ul>

    </div>
  </div>
</div>
