<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <a class="brand" href="/">tl;dr</a>

      <ul class="nav">
        <li{{#index}} class="active"{{/index}}><a href="/">Home</a></li>
        <li{{#summaries}} class="active"{{/summaries}}><a href="/summaries">I want some tl;drs!</a></li>
        <li{{#whatisit}} class="active"{{/whatisit}}><a href="/whatisit">What is this?</a></li>
      </ul>

        <!-- Right part of the navbar, holding the signup and login links -->
        <ul class="nav pull-right">

          <!-- User is not logged, display the login widget -->
          {{^user}}
            <li{{#signup}} class="active"{{/signup}}>
              <a href="/signup">Sign up!</a>
            </li>
            <li class="divider-vertical"></li>

            <li  class="dropdown">
              <a href="#"  class="dropdown-toggle" data-toggle="dropdown">
                <small>Already a member?</small>
                Log in
              <b class="caret"></b>
            </a>

            <ul id="login-widget" class="dropdown-menu dropdown-form">
              <!-- If there are login errors, they are displayed here -->
              <li id="login-invalid-input" style="display: none;">
                <div class="alert">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <small id='login-error-message'></small>
                </div>
              </li>

              <!-- Login form -->
              <li>
                <form>
                  <fieldset>
                    <input type="text" id="login-status-email" placeholder="Email goes here" value="{{email}}" name="email">
                    <input type="password" id="login-status-password" placeholder="Password" value="{{password}}" name="password">
                    <button type="submit" class="btn btn-primary" id="login-status-submit">Log in</button>
                    <a href="/forgotPassword" class="forgot-password-link"><small>Forgot your password?</small></a>
                  </fieldset>
                </form>
              </li>
            </ul>
          {{/user}}


          <!-- User is logged, display his personal space -->
          {{#user}}
            <li  class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span id="logged-user-username">{{user.username}}</span>
              <b class="caret"></b>
            </a>

            <ul class="dropdown-menu dropdown-form">
                <li><a href="/account">My account</a></li>
                <li class="divider"></li>
                <li><a href="/tldrscreated">My <em>tl;drs</em></a></li>
                <li class="divider"></li>
                <li><a href="/logout" id="login-status-logout">Sign out</a></li>
            </ul>
          {{/user}}
       </ul>

    </div>
  </div>
</div>
