<span class="label tldr-label" data-tldr-id="{{_id}}" data-powertip-id="tldr-powertip-{{_id}}">
  <!-- By default, the link doesn't do anything -->
  {{#linkToTldrPage}}
    <a target="_blank" href="{{websiteUrl}}/tldrs/{{_id}}">
  {{/linkToTldrPage}}
    tl;dr
  {{#linkToTldrPage}}
  </a>
  {{/linkToTldrPage}}
</span>
<!-- for powertip -->
<div id="tldr-powertip-{{_id}}"  style="display: none;">
  <div class="tldr-read-container">
    <div class="tldr-tldr">
      <div class="tldr-header">
        <img class="tldr-favicon tldr-favicon-ellipsis" src="http://www.google.com/s2/favicons?domain={{hostname}}">
        <p class="tldr-title tldr-title-ellipsis">{{title}}</p>
      </div>
      <div class="tldr-metadata">
        {{#creator}}
        <span>
          tl;dr by
          <span><a href="/{{creator.username}}" target="_blank"><em>{{creator.username}}</em></a></span>
        </span>
        {{/creator}}
      </div>

      <div class="tldr-summary">
        <ul>
          {{#summaryBullets}}
          <li class="tldr-bullet">
            <i class="icon-stop"></i>
            {{.}}
          </li>
          {{/summaryBullets}}
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end powertip -->

