
<div class="social-media">

  <div class="media">
    <img class="logo logo-seedcamp" src="assets/img/logo-press-1.png">
    <img class="logo logo-rude-baguette" src="assets/img/logo-press-2.png">
    <img class="logo logo-gigaom" src="assets/img/logo-press-3.png">
    <img class="logo logo-spiegel" src="assets/img/logo-press-4.png">
    <img class="logo logo-golem" src="assets/img/logo-press-5.png">
  </div>

  <div class="social">
    <span class="fb-like social-widget">
      <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ftldr.io&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:95px; height:21px;" allowTransparency="true"></iframe>
    </span>
    <span class="twitter-tweet social-widget">
      <a href="https://twitter.com/tldrio" class="twitter-share-button"  data-lang="en" data-count="none">Follow @tldrio</a>
    </span>
    <div class="twitter-follow social-widget">
      <a href="https://twitter.com/tldrio" class="twitter-follow-button"  data-width="103px" data-lang="en" data-count="none">Follow @tldrio</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>

</div>

