<span class="label tldr-label" data-tldr-id="{{_id}}" data-powertip-id="tldr-powertip-{{_id}}">
  <!-- By default, the link doesn't do anything -->
  {{#linkToTldrPage}}
    <a target="_blank" href="/tldrs/{{_id}}">
  {{/linkToTldrPage}}
    tl;dr
  {{#linkToTldrPage}}
  </a>
  {{/linkToTldrPage}}
</span>
