<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/embed/assets/css/widget.embed.inner.css">
</head>

<body>

  <div class="row">
    <div class="tldr-base-unit page-tldr-container">
      <div class="tldr-read-container">
        <span class="tldr-header">
          tl;dr version <span class="provider">(via <a href="http://tldr.io" target="_blank">tldr.io</a>)</span>
          <span class="embed-actions">
            <a href="{{websiteUrl}}/tldrs/{{tldr._id}}/{{tldr.slug}}" target="_blank" class="tldr-page-link">Link</a>
            <button type="button" class="dismiss-embed">×</button>
          </span>
        </span>

        <div class="tldr-summary">
          <ul>
            {{#tldr.summaryBullets}}
            <li class="tldr-bullet">
              ◼ {{.}}
            </li>
            {{/tldr.summaryBullets}}
          </ul>
        </div>

      </div>

    </div>
  </div>

  <script>
  function getDocHeight() {
      var D = document;
      return Math.max(
          Math.max(D.body.scrollHeight, D.documentElement.scrollHeight),
          Math.max(D.body.offsetHeight, D.documentElement.offsetHeight),
          Math.max(D.body.clientHeight, D.documentElement.clientHeight)
      );
  }

  // Send the height to the parent
  window.parent.postMessage({ action: 'SET_HEIGHT', height: getDocHeight() }, '*');
  var closeButton = document.getElementsByClassName('dismiss-embed')[0];

  function dismissEmbed () {
    window.parent.postMessage({ action: 'DISMISS'}, '*');
  }

  if (closeButton.addEventListener) {
    closeButton.addEventListener('click',dismissEmbed,false);
  } else if(closeButton.attachEvent) {
    closeButton.attachEvent('onclick',dismissEmbed);
  }

  </script>

</body>
</html>
