<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/embed/assets/css/widget.embed.inner.css">
</head>

<body>

  <div class="row">
    <div class="tldr-base-unit page-tldr-container">
      <div class="tldr-read-container">
        <span class="tldr-header">
          Summary <span class="provider">(via <a href="http://tldr.io" target="_blank">tldr.io</a>)</span>
        </span>

        <div class="tldr-summary">
          <ul>
            {{#tldr.summaryBullets}}
            <li class="tldr-bullet">
              ◼ {{.}}
            </li>
            {{/tldr.summaryBullets}}
          </ul>
        </div>

      </div>

    </div>
  </div>

  <script>
  function getDocHeight() {
      var D = document;
      return Math.max(
          Math.max(D.body.scrollHeight, D.documentElement.scrollHeight),
          Math.max(D.body.offsetHeight, D.documentElement.offsetHeight),
          Math.max(D.body.clientHeight, D.documentElement.clientHeight)
      );
  }

  // Send the height to the parent
  console.log("========== Sent fucking message");
  window.parent.postMessage({ action: 'SET_HEIGHT', tldrId: '{{tldr._id}}', height: getDocHeight() }, '*');

  </script>

</body>
</html>
