<div class="users-stats">
  <h1>
    <span class="number">{{timeSaved}}</span> saved for other people.
  </h1>

  <h3>
    <i class="icon-eye-open"></i>
    Your tl;drs were read <span class="number">{{readCount}}</span> times.
  </h3>

  <h3>
    <i class="icon-thumbs-up"></i>
    You were thanked <span class="number">{{thanks}}</span> times.
  </h3>

  <h3>
    <i class="icon-trophy"></i>
    You wrote <span class="number">{{tldrsCreated}}</span> tldrs, compressing <span class="number">{{wordsCompressed}}</span> words into <span class="number">{{wordsWritten}}</span> words.
  </h3>

</div>
