<div style="">
  <ul class="thumbnails">
    <li class="span5">
      <div id="line-chart-{{selection}}"></div>
    </li>
    <li class="span5">
      <div id="bar-chart-{{selection}}"></div>
    </li>
  </ul>
</div>
