<div style=">
  <ul class="thumbnails">
    <li class="span5">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/400x300" alt="">
      </a>
    </li>
    <li class="span5">
      <a href="#" class="thumbnail">
        <img src="http://placehold.it/400x300" alt="">
      </a>
    </li>
  </ul>
</div>
