<span class="post-topic-metadata">
&nbsp;&nbsp;&nbsp;<span class="votes-count">{{votes}} vote{{#moreThanOneVote}}s{{/moreThanOneVote}}</span>
{{#userHasntVoted}}
  <span id="{{_id}}">
  <a href="#" class="upvote">+1</a> <a href="#" class="downvote">-1</a>
  </span>
{{/userHasntVoted}}
</span>
