{{#userHasntVoted}}
<div class="voting" id="{{_id}}">
  <a href="#" class="upvote"><i class="icon-thumbs-up"></i></a><br>
  <a href="#" class="downvote"><i class="icon-thumbs-down"></i></a>
</div>
{{/userHasntVoted}}
