<item>
  <title>{{title}}</title>
  <link>http://tldr.io/tldrs/{{_id}}/{{slug}}</link>
  <guid>{{_id}}</guid>
  {{#imageUrl}}
    <enclosure url="{{.}}" />
  {{/imageUrl}}
  <description>
  <![CDATA[
    <ul>
    {{#summaryBullets}}
      <li>{{.}}</li>
    {{/summaryBullets}}
    </ul>
    <br><br>
    <i>Tldr created by <a href="http://tldr.io/{{creator.username}}">{{creator.username}}</a></i>

  ]]>
  </description>
</item>

