<item>
  <title>{{title}}</title>
  <link>http://tldr.io/tldrs/{{_id}}/{{slug}}</link>
  <guid>{{_id}}</guid>
  <description>
  <![CDATA[
    <ul>
    {{#summaryBullets}}
      <li>{{.}}</li>
    {{/summaryBullets}}
    </ul>
  ]]>
  </description>
</item>

