User <a href="{{websiteUrl}}/{{lastPostCreator.username}}">{{lastPostCreator.username}}</a> just posted to this thread:<br><br>

<a href="{{websiteUrl}}/forum/threads/{{thread._id}}/{{thread.slug}}">{{thread.title}}</a><br><br>

{{post.text}}
