User <a href="{{websiteUrl}}/{{lastPostCreator.username}}">{{lastPostCreator.username}}</a> just posted to this topic:<br><br>

<a href="{{websiteUrl}}/forum/topics/{{topic._id}}">{{topic.title}}</a><br><br>

{{post.text}}
