User <a href="{{websiteUrl}}/{{thanker.username}}">{{thanker.username}}</a> 
thanked <a href="{{websiteUrl}}/{{user.username}}">{{user.username}}</a> the contributor of <a href="{{websiteUrl}}/tldrs/{{tldr._id}}">{{tldr.title}}</a>.

