<a href="{{url}}">{{url}}</a> needs an instant summary.<br><br>

{{#user}}
A happy user is a returning user <br><br>
Email <a href="{{websiteUrl}}/{{user.username}}">{{user.username}}</a> when it's done
{{/user}}
