User <a href="{{websiteUrl}}/{{thanker.username}}">{{thanker.username}}</a> 
thanked <a href="{{websiteUrl}}/{{creator.username}}">{{creator.username}}</a> the contributor of <a href="{{websiteUrl}}/tldrs/{{tldr._id}}">{{tldr.title}}</a>.

