The new entry is:<br><br>
Title: <a href="{{tldr.url}}">{{tldr.title}}</a> <br>
Author: {{tldr.resourceAuthor}}<br>
Date: {{tldr.resourceDate}}<br>
Summary: <br>
{{#tldr.summaryBullets}}
   - {{.}} <br>
{{/tldr.summaryBullets}}
<br>
Edited by <a href="{{apiUrl}}/users/{{user._id}}">{{user.username}}</a><br><br><br>


## ADMIN<br>
<a href="{{apiUrl}}/tldrs/{{tldr._id}}/admin">See all versions of this tldr</a><br>
This summary smells like shit? <a href="{{apiUrl}}/tldrs/beatricetonusisfuckinggorgeousnigga/{{tldr._id}}"> Delete the fucking outrageous tl;dr </a><br>
Don't want it on the frontpage? <a href="{{apiUrl}}/tldrs/cockblock/{{tldr._id}}">Make it undiscoverable</a>
