Hi {{user.username}} !<br>

<br>
We are excited to see that you took some time to write your first <em>tl;dr</em>!<br>
It is now available to you and everyone else using the service.<br><br>
Every time you contribute a tl;dr you help <strong>gazillion people save time</strong>.
<br>
<br>
Now you can: <br>
- Share it with this <a href="{{websiteUrl}}/tldrs/{{tldr._id}}/{{tldr.slug}}">link</a>.<br>
- See all your contributions on your <a href="{{websiteUrl}}/{{user.username}}">public profile</a>.
<br>
<br>


<br>
Tame the web, you know you want it.

<br>
<br>
--
<br>
<a href="http://tldr.io/charles">Charles</a> ,<a href="http://tldr.io/louis">Louis</a> and <a href="http://tldr.io/stan">Stan</a>
<br>
Cofounders of tldr.io
<br>

PS: <a href="https://twitter.com/tldrio">Follow the latest tl;drs on Twitter</a>


