We are thrilled to see that you took some time to write
your first <em>tl;dr</em>!<br>

It is now available to you and everyone else using the service.<br><br>

Did you know that you can easily share it with your friends by sending them this
<a href="{{apiUrl}}/tldrs/search?url={{url}}">link</a>?<br><br>

We hope you enjoy the service. We'd love to hear some feedback from you,
you can email us at <a href="mailto:feedback@tldr.io">feedback@tldr.io</a>.<br><br>

Cheers,<br>
The tl;dr team

