Hi {{creator.username}},
<br>
<br>
Congrats! 100 people have read your <a href="{{websiteUrl}}/tldrs/{{tldr._id}}">tl;dr of "{{tldr.title}}"</a>.
<br>
<br>
Continue to share it to make this number go up!
<br>
<br>
Cheers,
<br>
<br>
Charles, Louis and Stan <br>
Cofounders of <a href="http://tldr.io">tldr.io</a>
<br>
--
<br>
Tired of being congratulated?
<a href="{{websiteUrl}}/notifications/unsubscribe?id={{creator._id}}&type=congratsTldrViews&signature={{dataForUnsubscribe.signature}}&expiration={{dataForUnsubscribe.expiration}}">Unsubscribe</a> in one click.


