Hi {{creator.username}},<br>

<br>
Congrats! Your <a href="{{websiteUrl}}/tldrs/{{tldr._id}}">tl;dr of {{tldr.title}}</a> have had 100 views.
<br>
Continue to share it to make this number go up!

<br>
--
<br>
This is an automated email sent to {{creator.email}}.<br>
Tired of being congratulated?
<a href="{{websiteUrl}}/notifications/unsubscribe?id={{creator._id}}&type=congratsTldrViews&signature={{signature}}&expiration={{expiration}}">Unsubscribe</a> in one click.


