Hi {{user.username}},
<br>
<br>

Your registration process is nearly done.
To complete it, we just need you to confirm your email address:
<br><br><br>

<a style="text-decoration: none; padding: 14px 38px 14px 38px; font-size: 20px; font-weight: bold; font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; color: #ffffff;background-color: #006DCC;border-radius: 24px" 
  href="{{websiteUrl}}/confirmEmail?confirmEmailToken={{token}}&email={{email}}">
  Confirm your email address
</a>

<br><br><br><br>
If you don't see or can't click the button above, copy paste this address in your browser:
<br>
{{websiteUrl}}/confirmEmail?confirmEmailToken={{token}}&amp;email={{email}}
<br>

<br>
Tame the web, you know you want it.

<br>
<br>
--
<br>
<a href="http://tldr.io/charles">Charles</a>,<a href="http://tldr.io/louis">Louis</a> and <a href="http://tldr.io/stan">Stan</a>
<br>
Cofounders of tldr.io
<br>

PS: <a href="https://twitter.com/tldrio">Follow the latest tl;drs on Twitter</a>

