Hi {{username}} !<br>

We are thrilled to welcome you to tldr.io! Your registration process is nearly done.
To complete it, we just need you to confirm your email address by clicking on the following link: <br><br>

<a href="{{link}}">Click here to confirm your email address</a><br><br>

If you can't click the link, copy paste it in your browser:<br>
{{link}}<br>

Cheers,<br>
The tl;dr team
