Hey {{username}}, <br><br>

It's been a few weeks since we haven't seen you on tldr.io, may I ask you why? <br>
Please be brutally honest and don't be afraid to hurt our feelings.

<br><br>
<img  src="http://alltheragefaces.com/img/faces/jpg/sad-broken-heart.jpg">

<br><br>
Cheers <br>
Charles, cofounder at tldr.io


