Hey {{username}}, <br><br>

It's been a few weeks since we haven't seen you on tldr.io, may I ask you why is it so? <br>
Answer even if you think we may feel hurt, because we won’t.

<br><br>
<img  src="http://alltheragefaces.com/img/faces/jpg/sad-broken-heart.jpg">

<br><br>
Cheers <br>
Charles, cofounder at tldr.io


