Listen to us dude, <br>
<br>

Your <a href="{{websiteUrl}}/tldrs/{{tldr._id}}">tl;dr on {{tldr.title}}</a> just made

{{#user}} 
<a href="{{websiteUrl}}/{{user.username}}">{{user.username}}</a> 
{{/user}} 

{{^user}} 
Somebody 
{{/user}} 

the happiest user on earth. <br>
<br>
We thought you'd be glad to know that what you helped somebody to tame the web.
<br>
<br>
Cheers
<br>
<br>
Charles, Louis and Stan <br>
Cofounders of <a href="http://tldr.io">tldr.io</a>
