Hi {{user.username}},<br>

Your password was reset successfully.<br><br>

If you didn't initiate a password reset procedure, please contact us by responding to this email immediately.<br><br>

Cheers,<br>
The tl;dr team

