Hi {{participant.username}}, <br> <br>

<a href="{{websiteUrl}}/{{lastPostCreator.username}}">{{lastPostCreator.username}}</a> just posted this new message to the thread 
<a href="{{websiteUrl}}/forum/topics/{{topic._id}}/{{topic.slug}}">{{topic.title}}</a>:<br><br>

"{{post.text}}"
<br><br>
Continue the discussion <a href="{{websiteUrl}}/forum/topics/{{topic._id}}">here</a>!
<br>
Cheers,
<br>
<br>
Charles, Louis and Stan <br>
Cofounders of <a href="http://tldr.io">tldr.io</a>
<br>
--
<br>
Useless notification?
<a href="{{websiteUrl}}/notifications/unsubscribe?id={{participant._id}}&type=postForum&signature={{dataForUnsubscribe.signature}}&expiration={{dataForUnsubscribe.expiration}}">Unsubscribe</a> in one click.
