User <a href="{{websiteUrl}}/{{user.username}}">{{user.username}}</a> just posted to this topic:<br><br>

<a href="{{websiteUrl}}/forum/topics/{{topic.slug}}/{{topic._id}}">{{topic.title}}</a><br><br>

{{postData.text}}
