Hey {{user.username}}, <br>
<br>

We thought you'd be glad to know that you <strong>made a big difference for people around the world</strong> with your contribution to tldr.io <br>
<br>

{{#tldrsForReport}}
- The tl;dr of <a href="{{websiteUrl}}/tldrs/{{tldr._id}}">{{tldr.title}}</a> has been read <strong>{{newViewsText}}</strong> since last time. It now boasts a total read count of <strong>{{tldr.readCount}}</strong>.<br>
{{/tldrsForReport}}
<br>
<br>
Want to read some interesting articles? <a href="{{websiteUrl}}/tldrs">Check out the latest contributions to tldr.io</a>!
<br>
<br>
Cheers
<br>
<br>
Charles, Louis and Stan <br>
Cofounders of <a href="http://tldr.io">tldr.io</a>
<br>
<br>
--
<br>
Tired of being congratulated? Click <a href="{{websiteUrl}}/notifications/unsubscribe?id={{user._id}}&type=read">here</a> to stop receiving these notifications by email.
