Hey {{user.username}}, <br>
<br>

Your tl;drs are saving people <strong>a massive amount of time</strong>.
<br>
<br>
They've been read <strong>{{viewsThisWeek}}</strong> times this past week, bringing the total number of times your tl;drs have been read to
<strong>{{viewsTotal}}</strong>!
<br>
<br>
Your biggest hit this week is <a href="{{websiteUrl}}/tldrs/{{tldr._id}}">{{topThisWeek.tldr.title}}</a> which has been <strong>viewed {{topThisWeek.readCountWeek}} times.</strong>
<br>
Your most popular contribution is the tl;dr of <a href="{{websiteUrl}}/tldrs/{{tldr._id}}">{{topOfAllTime.title}}</a> which has been <strong>viewed {{topOfAllTime.readCount}} times</strong>.
<br>
Did you know you can access all your recent contributions and see their read counts on <a href="http://tldr.io/{{user.username}}">your public profile</a>?
<br>
<br>
Congrats for these stats! If you wanna contribute the next big tl;dr hit, try summarizing the top of <a href="http://news.ycombinator.com">Hacker News</a>!
<br>
<br>
<br>
Cheers,
Charles, Louis and Stan <br>
Cofounders of <a href="http://tldr.io">tldr.io</a>
<br>
<br>
--
<br>
Tired of being congratulated?
<a href="{{websiteUrl}}/notifications/unsubscribe?id={{user._id}}&type=read&signature={{signature}}&expiration={{expiration}}">Unsubscribe</a> in one click.
