Hey {{user.username}}, <br>
<br>

We thought you'd be glad to know that you <strong> helped people to tame the web</strong> with your contribution to tldr.io. <br>

{{#tldrsForReport}}
- The tl;dr of <a href="{{websiteUrl}}/tldrs/{{tldrId}}">{{tldr.title}}</a> has been read <strong>{{newViewsText}}</strong>. It can now boasts a total read count of <strong>{{tldr.readCount}}</strong>.<br>
{{/tldrsForReport}}


<br>
<br>
Cheers
<br>
<br>
Charles, Louis and Stan <br>
Cofounders of <a href="http://tldr.io">tldr.io</a>
<br>
<br>
--
<br>
Tired of being congratulated? You can <a href="{{websiteUrl}}/account">unsubscribe here</a> by changing your email preferences.
