Hi {{user.username}}, <br>

Please click on the following link to reset your password: <br><br>

<a href="{{link}}">Click here to reset your password</a><br><br>

If you can't click the link, copy paste it in your browser:<br>{{link}}<br>

If you didn't request a password reset, please disregard this email.<br><br>

Cheers,<br>
The tl;dr team
