Hi {{user.username}}, <br>

Please click on the following link to reset your password. Please note that the link is only valid for one hour,
please request another token if you asked for this one more than one hour ago: <br><br>

<a href="{{websiteUrl}}/resetPassword?resetPasswordToken={{token}}&email={{email}}">
Click here to reset your password</a><br><br>

If you can't click the link, copy paste it in your browser:
<br>{{websiteUrl}}/resetPassword?resetPasswordToken={{token}}&amp;email={{email}}<br>

If you didn't request a password reset, please disregard this email.<br><br>

Cheers,<br>
The tl;dr team
