<div>
  <div class="users-stats">
    <h1 style="text-align: left;">
      <span class="number" style="color: #f60;">21 days</span> saved for other people.
    </h1>

    <h3>
      <div  style="background-size:20px;height:20;width:20px;display:inline-block;background-image: url('http://tldr.io/assets/img/coffee.png');"></div>
      (That's about <span class="number" style="color: #f60;">2,953</span> coffee breaks)
    </h3>

    <h3>
      <div  style="height:35px;width:35px;display:inline-block;background-image: url('http://tldr.io/assets/img/eye.png');"></div>
      Your tl;drs were read <span class="number" style="color: #f60;">3,590</span> times.
    </h3>

    <h3>
      <div  style="height:35px;width:35px;display:inline-block;background-image: url('http://tldr.io/assets/img/thumb.png');"></div>
      You were thanked <span class="number" style="color: #f60;">15</span> times.
    </h3>

    <h3>
      <div  style="height:35px;width:35px;display:inline-block;background-image: url('http://tldr.io/assets/img/trophy.png');"></div>
      You wrote <span class="number" style="color: #f60;">9</span> tldrs,
      compressing <span class="number" style="color: #f60;">12,092</span> words into <span class="number" style="color: #f60;">608</span> words.
    </h3>

  </div>
</div>
