Hey {{subscriber.username}},<br><br>

<a href="{{websiteUrl}}/{{creator.username}}">{{creator.username}}</a> just wrote the tl;dr of <a href="{{websiteUrl}}/tldrs/{{tldr._id}}/{{tldr.slug}}">{{tldr.title}}</a>!

<br>
<br>

{{>emails/tldrEmbed}}

<br>
<br>
Don't forget to thank him for this good work!
<br>
