Hi {{user.username}}!

<br>
<br>
You are the newest member of tldr.io, a <strong>community of passionate readers who like to give back</strong>. We are thrilled to have you onboard.
<br>
<br>
The web has become a thick jungle where it’s tough to find one’s way to the right content.
There are a lot of hidden treasures that we would like to put in everybody’s hands.
We think that there is something missing from the web, a tool that helps people find these treasures.
<strong>Filling this gap is our mission and you’re a part of it!</strong>.

<br>
<br>
Since you already have our Chrome extension installed, here are a few suggestions to get the most out of tldr.io:<br><br>
<ul>
  <li>Satisfy your curiosity by checking the <a href="{{websiteUrl}}/discover">latest tldrs</a> contributed by the community.</li>
  <li>Follow hand-picked summaries created by our community on <a href="https://twitter.com/tldrio">Twitter</a> or via <a href="http://feeds.feedburner.com/TldrioLatestSummaries">RSS</a>.</li>
  <li>Show us some love by adding us to your contact list and talking about us to all your friends (if it's not too soon for you).</li>
</ul>

<br>
<br>
A question? Email us at wtf@tldr.io.
<br>
<br>

Tame the web, you know you want it.

<br>
<br>
<a href="http://tldr.io/charles">Charles</a>,<a href="http://tldr.io/louis">Louis</a> and <a href="http://tldr.io/stan">Stan</a>
<br>
Cofounders of tldr.io
<br>
