Hi {{user.username}}!

<br>
<br>
YOU are the newest member of tldr.io, a community of avid readers who like to give back. We are thrilled to have you onboard.
<br>
<br>
The web has become a thick jungle where it’s tough to find one’s way to the right content.
There are a lot of hidden treasures that we would like to put in everybody’s hands.
We think that there is something missing from the web, a tool that helps people find these treasures.
<strong>Filling this gap is our mission and you’re a part of it!</strong>.

<br>
<br>
Here a few suggestions to get the most out of tldr.io:<br><br>
<ul>
  <li>Enjoy a powered-up browsing experience with our <strong><a href="{{websiteUrl}}/chrome-extension">Chrome extension</a></strong>. If you're using Firefox or Safari install our
    <a href="{{websiteUrl}}/what-is-tldr#install-bm-section">bookmarklet</a>.</li>
  <li>Read our <a href="http://us5.campaign-archive1.com/?u=8b28d7f5522e849d06de6171e&id=37fae8a3a9">latest newsletter</a>.</li>
  <li>Check the <a href="{{websiteUrl}}/latest-summaries">latest tl;drs</a> contributed by the community.</li>
  <li>Follow us on <a href="https://twitter.com/tldrio">Twitter</a>.</li>
</ul>

<br>
<br>
A question? Email us at newAwesomeMember@tldr.io.
<br>
<br>

Tame the web, you know you want it.

<br>
<br>
--
<br>
<a href="http://tldr.io/charles">Charles</a>,<a href="http://tldr.io/louis">Louis</a> and <a href="http://tldr.io/stan">Stan</a>
<br>
Cofounders of tldr.io
<br>
