Hi {{user.username}}!

<br>
<br>
We are thrilled to welcome you to tldr.io!
<br>
<br>

Now that you joined us you can <strong><a href="{{websiteUrl}}/whatisit#install-bm-section">start contributing tl;drs</a></strong>!
<br>
<br>

The web has become a thick jungle where it’s tough to find one’s way to the right content.
There are a lot of hidden treasures that we would like to put in everybody’s hands.
We think that there is something missing from the web, a tool that helps people find these treasures.
<strong>Filling this gap is our mission and you’re a part of it!</strong>.

<br>
<br>

Tame the web, you know you want it.

<br>
<br>
--
<br>
<a href="http://tldr.io/charles">Charles</a>,<a href="http://tldr.io/louis">Louis</a> and <a href="http://tldr.io/stan">Stan</a>
<br>
Cofounders of tldr.io
<br>

PS: <a href="https://twitter.com/tldrio">Follow the latest tl;drs on Twitter</a>

