<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Confirmation Email Failed</title>

    <!-- Le styles -->
    <link rel="stylesheet" href={{{cssPath}}}>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>


    <!--Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">tldr</a>
          <ul class="nav">
            <li class="active">
              <a href="http://tldr.io" target="_blank">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <section id="main-container">
    We couldn't confirm your address. Link is invalid. Request a new confirmation token in your <a href="{{websiteUrl}}account">account</a>. If you already have requested 
    a new one, the previous ones we have sent you have expired.
    </section>

  </body>
</html>
