<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Tldr Page</title>

    <!-- Le styles -->
    <link rel="stylesheet" href={{{pageCss}}}>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://api.tldr.io/staging/{{_id}}" />
    <meta property="og:image" content="http://www.gravatar.com/avatar/9a6be33eb1941a7b4527b3636dbb97f9.png" />
    <meta property="og:site_name" content="Tldr.io" />
    <meta property="og:description" content="{{#summaryBullets}} {{.}}. {{/summaryBullets}}" />
    <meta property="fb:app_id" content="250458838406360"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>


    <!--Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">tl;dr</a>
          <ul class="nav">
            <li class="active">
              <a href="http://tldr.io" target="_blank">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>




    <section id="main-container">
      <!--Container for Tldr-->
      <div id="tldr-container">

        <div id="tldr-title">
          <h2 ><a href={{url}} target="_blank" class="resource-link"> {{title}} </a></h2>

          <div id="tldr-resource-data">
            by <span id="tldr-resourceAuthor">
              {{resourceAuthor}}
            </span>
            - <span id="tldr-resourceDate">
              {{createdAt}}
            </span>
          </div>
        </div>

        <ul>
          {{#summaryBullets}}
          <li class="tldr-bullet">{{.}}</p>
          {{/summaryBullets}}
        </ul>

        <div id="tldr-edition-data">
          Edited by <span> Toto</span> on <span> 25th June 2012</span>
        </div>

      </div>


      <a href="{{url}}" target="_blank" id="resource-button" class="resource-link btn btn-primary" >Access Resource</a>

    </section>

    <script {{{pageScript}}} ></script>
  </body>
</html>
