<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Tldr Page</title>

    <!-- Le styles -->
    <link rel="stylesheet" href="{{{baseCss}}}/bootstrap.css">
    <link rel="stylesheet" href="{{{baseCss}}}/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{{baseCss}}}/page.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://api.tldr.io/{{_id}}" />
    <meta property="og:image" content="http://www.gravatar.com/avatar/9a6be33eb1941a7b4527b3636dbb97f9.png" />
    <meta property="og:site_name" content="tldr.io" />
    <meta property="og:description" content="{{#summaryBullets}} {{.}}. {{/summaryBullets}}" />
    <meta property="fb:app_id" content="250458838406360"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>


    <!--Navbar-->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">tl;dr</a>
          <ul class="nav">
            <li class="active">
              <a href="http://tldr.io" target="_blank">Home</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

<section  class="{{css.pageContainer}}">
<div class="well-white">

<div class="{{css.tldrContainer}}">

  <div class="tldr-tldr">
    {{^context.iframe}}
    <h3><a class="{{css.tldrTitle}}" target="_blank" href="{{url}}">{{title}}</a></h3>
    {{/context.iframe}}
    {{#context.iframe}}
    <h3 class="{{css.tldrTitle}}">{{title}}</h3>
    {{/context.iframe}}

    <div class="{{css.tldrMetadata}}">
      {{#resourceAuthor}}
      <span>
        <em>{{resourceAuthor}}</em>
        ·
      </span>
      {{/resourceAuthor}}
      {{#resourceDate}}
      <span title="{{resourceDate}}">
        {{resourceDate}}
        ·
      </span>
      {{/resourceDate}}
      <span>
        tl;dr by
        {{#username}}
        <span><em>{{username}}</em></span>
        {{/username}}
        {{^username}}
          <span><em>Anonymous</em></span>
        {{/username}}
      </span>
    </div>

    <div class="{{css.tldrSummary}}">
      <ul>
        {{#summaryBullets}}
        <li class="{{css.tldrBullet}}">
          <i class="icon-chevron-right"></i>
          {{.}}
        </li>
        {{/summaryBullets}}
      </ul>
    </div>
  </div>


  <div class="{{css.sharingContainer}}"></div>
</div>


</div>
<a href="{{url}}" target="_blank"  class="resource-link btn btn-primary" >Access Resource</a>

</section>
    <script {{{pageScript}}} ></script>
  </body>
</html>
